
@model PagingExtension

@using ACT.Core.Enums;
@using ACT.Core.Models.Custom;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;
    ViewBag.ViewName = "_Disputes";
}


@Html.Partial( "_Notification" )

@{
    int count = Model.Start;
    List<DisputeCustomModel> items = ( List<DisputeCustomModel> ) Model.Items;
}

@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Disputes available matching your search criteria.
    </div>
}

<table id="disputes-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#disputes-table_wrapper" data-starting-point=".ap-tabs ul">

    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="EffectiveDate" data-column="d.EffectiveDate">
                Eff. Date
            </th>
            <th data-name="DocketNumber" data-column="d.DocketNumber">
                Docket #
            </th>
            <th data-name="Reference" data-column="d.Reference">
                Ref #
            </th>
            <th data-name="OtherReference" data-column="d.OtherReference">
                Other Ref #
            </th>
            <th data-name="TDNNumber" data-column="d.TDNNumber">
                TDN #
            </th>
            <th data-name="Quantity" data-column="d.Quantity">
                Quantity
            </th>
            <th data-name="ActionUser" data-column="d.ActionBy">
                Action By
            </th>
            <th data-name="Status" data-column="d.Status">
                Status
            </th>
            <th data-name="DaysLeft">
                Days Left
            </th>
            <th data-name="DisputeReasonDetails" data-column="dr.Reason">
                Reason
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                DisputeStatus status = ( DisputeStatus ) item.Status;

                int? d = item.Disputes.HasValue ? ( int ) item.Disputes : ConfigSettings.SystemRules.DisputeDaysToResolve;

                int? daysLeft = ( status == DisputeStatus.Active ) ? ( d - ( DateTime.Now - item.CreatedOn ).Days ) : 0;

                string red = ( status == DisputeStatus.Active && ( DateTime.Now - item.CreatedOn ).Days >= ConfigSettings.SystemRules.DisputeDaysToResolve ) ? "red-bg" : string.Empty;

                <tr id="disputes-@item.Id-item" class="disputes-@item.Id-item @red">

                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @( ( item.EffectiveDate ?? item.CreatedOn ).ToString( "yyyy-MM-dd" ) )

                        <a class="block" rel="tipsyE" title="Review audit log" data-audit-log="1" data-pid="@item.Id" data-type="Dispute">
                            <img alt="" src="@Url.Content( "~/Images/duplicate-content.png" )" style="max-width: 15px;" />
                            <span></span>
                        </a>
                    </td>
                    <td>
                        @item.DocketNumber
                    </td>
                    <td>
                        @item.Reference
                    </td>
                    <td>
                        @item.OtherReference
                    </td>
                    <td>
                        @item.TDNNumber
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @(item.ActionBy ?? item.ActionUser )
                    </td>
                    <td>
                        @status.GetDisplayText()

                        @if ( ( status == DisputeStatus.Resolved || status == DisputeStatus.Cancelled ) && !string.IsNullOrWhiteSpace( item.ResolvedUser ) && item.ResolvedOn.HasValue )
                        {
                            <small class="block">By @item.ResolvedUser <i class="block">on @item.ResolvedOn.Value.ToString( "yyyy-MM-dd HH:mm" )</i></small>
                        }
                    </td>
                    <td>
                        @daysLeft
                    </td>
                    <td>
                        @item.DisputeReasonDetails
                    </td>
                    <td width="4%">
                        @Html.ActionLink( "Details", "DisputeDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".disputes-" + item.Id + "-item" } )
                    </td>

                </tr>

                count++;
            }
        }
    </tbody>

</table>

@*@Html.Partial( "_DisputeCustomSearch", new ACT.Core.Models.CustomSearchModel() )*@

@Html.Partial( "_Paging" )