@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using ACT.Core.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_DisputesResolved";
}


@Html.Partial( "_Notification" )


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;
    List<DisputeCustomModel> items = ( List<DisputeCustomModel> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Resolved Disputes available matching your search criteria.
    </div>
}

<table id="disputes-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#disputes-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="EffectiveDate" data-column="d.EffectiveDate">
                Eff. Date
            </th>
            <th data-name="OriginalDocketNumber" data-column="d.OriginalDocketNumber">
                Orig. Docket #
            </th>
            <th data-name="DocketNumber" data-column="d.DocketNumber">
                Docket #
            </th>
            <th data-name="Reference" data-column="d.Reference">
                Ref #
            </th>
            <th data-name="OtherReference" data-column="d.OtherReference">
                Other Ref #
            </th>
            <th data-name="TDNNumber" data-column="d.TDNNumber">
                TDN #
            </th>
            <th data-name="Quantity" data-column="d.Quantity">
                Quantity
            </th>
            <th data-name="ActionUser" data-column="d.ActionBy">
                Action By
            </th>
            <th data-name="Status" data-column="d.Status">
                Status
            </th>
            <th data-name="DisputeReasonDetails" data-column="dr.Reason">
                Reason
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                DisputeStatus status = ( DisputeStatus ) item.Status;

                string active = ( status == DisputeStatus.Active || status == DisputeStatus.Resolved ) ? "active" : "inactive";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">

                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @( ( item.EffectiveDate ?? item.CreatedOn ).ToString( "yyyy-MM-dd" ) )
                    </td>
                    <td>
                        @item.OriginalDocketNumber
                    </td>
                    <td>
                        @item.DocketNumber
                    </td>
                    <td>
                        @item.Reference
                    </td>
                    <td>
                        @item.OtherReference
                    </td>
                    <td>
                        @item.TDNNumber
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @(item.ActionBy ?? item.ActionUser )
                    </td>
                    <td>
                        @status.GetDisplayText()

                        @if ( ( status == DisputeStatus.Resolved || status == DisputeStatus.Cancelled ) && !string.IsNullOrWhiteSpace( item.ResolvedUser ) && item.ResolvedOn.HasValue )
                        {
                            <small class="block">By @item.ResolvedUser <i class="block">on @item.ResolvedOn.Value.ToString( "yyyy-MM-dd HH:mm" )</i></small>
                        }
                    </td>
                    <td>
                        @item.DisputeReasonDetails
                    </td>


                </tr>

                count++;
            }
        }
    </tbody>

</table>
@Html.Partial( "_Paging" )