@using ACT.Core.Enums

@{
    string controller = ViewContext.RouteData.Values[ "controller" ].ToString();

    var user = ( Request.IsAuthenticated && ViewBag.CurrentUser != null ) ? ( ACT.Core.Models.UserModel ) ViewBag.CurrentUser : User.Get();

    string sessClient = ( HttpContext.Current.Session[ "ClientId" ] != null ? HttpContext.Current.Session[ "ClientId" ].ToString() : "0" );
}

<div class="menu">
    <ul>

        <li class="logz">
            <a href="@Url.Action( "Index", "DashBoard" )">
                <img alt="ACT Pallet Solutions" src="@Url.Content( "~/images/act-logo.png" )" style="width: 100%;" />
            </a>
        </li>

        <li class="welcome">
            Welcome <strong>@user.Name</strong>
        </li>
        @if ( User.Has( PermissionTo.View, PermissionContext.Client ) )
        {
            <li class="welcome">
                Select Client
                <select id="ClientListAdmin" name="ClientListAdmin"></select>
                <br />
                <br />
            </li>

            <li data-hot-spot="1" data-c="Client" data-t="" class="@(controller.ToLower().Equals( "client" ) ? "current" : "")">
                <a rel="tipsyW" title="Clients" href="@Url.Action( "Index", "Client" )">
                    <span>Client Management</span>
                </a>
            </li>
        }

        @if ( User.Has( PermissionTo.View, PermissionContext.DashBoard ) )
        {
            <li class="@(controller.ToLower().Equals( "dashboard" ) ? "current" : "")" data-hot-spot="1" data-c="DashBoard" data-t="">
                <a rel="tipsyW" title="DashBoard" href="@Url.Action( "Index", "DashBoard" )">
                    <span>Dashboard</span>
                </a>
            </li>
        }

        @if ( User.Has( PermissionTo.View, PermissionContext.Pallet ) )
        {
            <li data-hot-spot="1" data-c="Pallet" data-t="" class="@(controller.ToLower().Equals( "pallet" ) ? "current" : "")">
                <a rel="tipsyW" title="Pallets" href="@Url.Action( "Index", "Pallet" )">
                    <span>Pallet Management</span>
                </a>
            </li>
        }


        @if ( User.Has( PermissionTo.View, PermissionContext.Client ) )
        {
            <li class="first @(controller.ToLower().Equals( "clientreporting" ) ? "current" : "")" data-hot-spot="1" data-c="ClientReporting" data-t="">
                <a rel="tipsyW" title="Client Reporting" href="@Url.Action( "Index", "ClientReporting" )">
                    <span>Client Reporting</span>
                </a>
            </li>
        }

        @*@if ( User.Has( PermissionTo.View, PermissionContext.Customer ) )
        {
            <li data-hot-spot="1" data-c="Customer" data-t="" class="@(controller.ToLower().Equals( "customer" ) ? "current" : "")">
                <a rel="tipsyW" title="Customers" href="@Url.Action( "Index", "Customer" )">
                    <span>Customers</span>
                </a>
            </li>
        }

        @if ( User.Has( PermissionTo.View, PermissionContext.Product ) )
        {
            <li data-hot-spot="1" data-c="Product" data-t="" class="@(controller.ToLower().Equals( "product" ) ? "current" : "")">
                <a rel="tipsyW" title="Products" href="@Url.Action( "Index", "Product" )">
                    <span>Products</span>
                </a>
            </li>
        }


        *@

        @if ( User.Has( PermissionTo.View, PermissionContext.Administration ) )
        {
            <li data-hot-spot="1" data-c="SystemAdministration" data-t="" class="@(controller.ToLower().Equals( "administration" ) ? "current" : "")">
                <a rel="tipsyW" title="Administration" href="@Url.Action( "Index", "Administration" )">
                    <span>Administration</span>
                </a>
            </li>
        }

        @*@if ( User.Has( PermissionTo.View, PermissionContext.Reports ) )
        {
            <li data-hot-spot="1" data-c="Report" data-t="" class="@(controller.ToLower().Equals( "report" ) ? "current" : "")">
                <a rel="tipsyW" title="Reports" href="@Url.Action( "Index", "Report" )">
                    <span>Reports</span>
                </a>
            </li>
        }*@

        <li style="border-top: 5px solid #f5f5f5; border-bottom: 5px solid #f5f5f5;">
            <a class="red-bg" href="@Url.Action( "LogOff", "Account" )" style="padding: 10px 20px;">
                LOGOUT
            </a>
        </li>

    </ul>

    <div class="clear"></div>


    <script>
        $(document).ready(function () {
            GetClientList();

            $("#ClientListAdmin").change(function () {
                var cId = $('option:selected', this).val();
                SetClient(cId);
            });
        });

        function GetClientList() {
            var options = $("#ClientListAdmin");
            options.empty();
            $.ajax({
                type: "GET",
                url: "GetClientList",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    options.append($("<option />").val('0').text('All Clients'));
                    $.each(data, function (id, model) {
                        options.append($("<option />").val(model.Value).text(model.Text));
                    });
                    $('#ClientListAdmin [value=' + @sessClient + ']').prop('selected', true);
                },
                error: function (response) {
                    alert('Error retrieving client details');
                }
            });
        }

        function SetClient(cId) {
            $.ajax({
                type: 'POST',
                url: "SetClient",
                data: { "ClientId": cId },
                success: function (response) {
                    //window.location.href = 'Index#managesites';
                    location.reload();
                }
            });
        }
    </script>
</div>
