@model List<Vehicle>

@using ACT.Core.Enums;
@using ACT.Data.Models;

<div class="grouped-area">

    <p>
        <strong>Vehicles (@Model.NullableCount())</strong>
    </p>

    <table id="vehicles-table" class="da-table">

        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Engine #</th>
                <th>VIN #</th>
                <th>Reg #</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>

            @if ( Model.NullableAny() )
            {
                int count = 0;

                foreach ( Vehicle b in Model )
                {
                    <tr id="row-line-@count" class="add-more-row">
                        <td style="position: relative;">
                            @if ( ( count + 1 ) == Model.Count )
                            {
                                <a data-add-one-more="1" data-target="#vehicles-table #row-line-0" rel="tipsyW" title="Add another line?" style="background: #ece0e0; padding: 8px 10px; position: absolute; left: -35px; border-radius: 18px;">
                                    <img alt="Add" src="@Url.Content( "~/Images/add.png" )" />
                                </a>
                            }

                            <input name="Vehicles[@count].Id" type="hidden" value="@b.Id" />

                            <input class="input" name="Vehicles[@count].Make" placeholder="Make" required="required" style="padding: 0 5px;" type="text" value="@b.Make">
                        </td>
                        <td>
                            <input class="input" name="Vehicles[@count].Model" placeholder="Model" required="required" style="padding: 0 5px;" type="text" value="@b.Model">
                        </td>
                        <td>
                            <input class="input" name="Vehicles[@count].Year" placeholder="Year" required="required" style="padding: 0 5px;" type="number" value="@b.Year">
                        </td>
                        <td>
                            <input class="input" name="Vehicles[@count].EngineNumber" placeholder="Engine #" style="padding: 0 5px;" type="text" value="@b.EngineNumber">
                        </td>
                        <td>
                            <input class="input" name="Vehicles[@count].VINNumber" placeholder="VIN #" required="required" style="padding: 0 5px;" type="text" value="@b.VINNumber">
                        </td>
                        <td>
                            <input class="input" name="Vehicles[@count].Registration" placeholder="Reg #" required="required" style="padding: 0 5px;" type="text" value="@b.Registration">
                        </td>
                        <td>
                            <select class="chzn" name="Vehicles[@count].Type" placeholder="Reg #" required="required" style="width: 87%;">
                                <option value="">--select</option>
                                @foreach ( int p in Enum.GetValues( typeof( VehicleType ) ) )
                                {
                                    VehicleType type = ( VehicleType ) p;

                                    string text = type.GetDisplayText();

                                    if ( text.ToLower() == "all" )
                                    {
                                        continue;
                                    }

                                    string sel = ( p == b.Type ) ? "selected=selected" : string.Empty;

                                    <option value="@p" @sel>@text</option>
                                }
                            </select>
                        </td>
                    </tr>

                    count++;
                }
            }
            else
            {
                <tr id="row-line-0" class="add-more-row">
                    <td style="position: relative;">
                        <a data-add-one-more="1" data-target="#vehicles-table #row-line-0" rel="tipsyW" title="Add another line?" style="background: #ece0e0; padding: 8px 10px; position: absolute; left: -35px; border-radius: 18px;">
                            <img alt="Add" src="@Url.Content( "~/Images/add.png" )" />
                        </a>

                        <input class="input" name="Vehicles[0].Make" placeholder="Make" required="required" style="padding: 0 5px;" type="text" value="">
                    </td>
                    <td>
                        <input class="input" name="Vehicles[0].Model" placeholder="Model" style="padding: 0 5px;" type="text" value="">
                    </td>
                    <td>
                        <input class="input" name="Vehicles[0].Year" placeholder="Year" style="padding: 0 5px;" type="number" value="">
                    </td>
                    <td>
                        <input class="input" name="Vehicles[0].EngineNumber" placeholder="Engine #" style="padding: 0 5px;" type="text" value="">
                    </td>
                    <td>
                        <input class="input" name="Vehicles[0].VINNumber" placeholder="VIN #" style="padding: 0 5px;" type="text" value="">
                    </td>
                    <td>
                        <input class="input" name="Vehicles[0].Registration" placeholder="Reg #" style="padding: 0 5px;" type="text" value="">
                    </td>
                    <td>
                        <select class="chzn" name="Vehicles[0].Type" placeholder="Reg #" required="required" style="width: 87%;">
                            <option value="">--select</option>
                            @foreach ( int p in Enum.GetValues( typeof( VehicleType ) ) )
                            {
                                VehicleType type = ( VehicleType ) p;

                                string text = type.GetDisplayText();

                                if ( text.ToLower() == "all" )
                                {
                                    continue;
                                }

                                <option value="@p">@text</option>
                            }
                        </select>
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>