@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;

@{
    ViewBag.ShowExport = true;
    //ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_ClientList";
}


@Html.Partial("_Notification")


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;
    List<Client> items = (List<Client>)Model.Items;

    ClientService cservice = new ClientService();
    

}


@if (Model == null || !items.Any())
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Clients available matching your search criteria.
    </div>
}

@if (user.IsAdmin || user.IsPSPAdmin)
{
    <p>
        @Html.ActionLink("Add", "AddClient", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new Client?", @data_edit = "1", @data_id = 0, @data_target = "#clientlist" })
        <span class="loader"></span>
    </p>
}


    <table id="psps-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#psps-table_wrapper" data-starting-point=".ap-tabs ul">
        <thead>
            <tr>
                @*<th data-name="Count">
            #
        </th>*@
                <th data-name="CompanyName" data-column="CompanyName">
                    Company Name
                </th>
                <th data-name="CompanyRegistrationNumber" data-column="CompanyRegistrationNumber">
                    Reg #
                </th>
                @*<th data-name="Company Type">
            Company Type
        </th>*@
                <th data-name="Address">
            Street Address
        </th>
        <th data-name="Suburb">
            Suburb
        </th>
                <th data-name="Suburb">
                    Town/City Province
                </th>
                <th data-name="ContactPerson" data-column="ContactNumber">
                    Contact Number
                </th>
                <th data-name="ContactPerson" data-column="ContactPerson">
                    Contact Person
                </th>
                <th data-name="Email" data-column="Email">
                    Email
                </th>
                <th data-name="Actions">
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && items != null && items.Count() > 0)
            {
                foreach (var item in items)
                {
                    Status status = (Status)item.Status;

                    String active = status.Equals(Status.Active) ? "active" : "inactive";
                    String enable = status.Equals(Status.Active) ? "Disable" : "Enable";
                    Address addr = new Address();
                    string addressline1 = "";
                    string suburb = "";
                    string town = "";
                    string province = "";
                    using (AddressService aservice = new AddressService())
                    {
                        addr = aservice.Get(item.Id, "Client");
                        if (addr != null)
                        {
                            province = ((Province)addr.Province).GetDisplayText();
                            addressline1 = addr.Addressline1;
                            suburb = addr.Addressline2;
                            town = addr.Town;                            

                        }
                    }

            <tr id="tr-@item.Id-item" class="tr-@item.Id-item">

                @*<td width="1%">
            @count
        </td>*@
                <td style="width: 15%;">
                    @item.CompanyName
                </td>
                <td>
                    @item.CompanyRegistrationNumber
                </td>
                @*<td>
           &nbsp;
        </td>*@

                <td>
            @addressline1
        </td>
        <td>
            @suburb
        </td>
        <td>
            @town  @province
        </td>
                <td>
                    @item.ContactPerson
                </td>
                <td>
                    @item.ContactNumber
                </td>
                <td style="width: 15%;">
                    @item.Email
                </td>

                <td width="15%">
                    @Html.ActionLink("Details", "ClientDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

                    @Html.ActionLink("Edit", "EditClient", new { id = item.Id, returnView = "ClientList" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

                    @Html.ActionLink(enable, "DeleteClient", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#clientlist", @rel = "tipsyE", @title = enable + " this item?" })

                </td>


            </tr>

                    count++;
                }
            }
        </tbody>

    </table>

@*@Html.Partial( "_PSPCustomSearch", new ACT.Core.Models.CustomSearchModel( "PSP" ) )*@

@Html.Partial("_Paging")