@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;



@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "LinkProducts";

    UserModel user = User.Get();
}


@Html.Partial( "_Notification" )


@{
    int count = Model.Start;
    List<ClientProductCustomModel> items = ( List<ClientProductCustomModel> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Client Products available matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink( "Add", "AddProduct", new { }, new { @class = "add", @rel = "tipsyS", @title = "Link a product to a client?", @data_edit = "1", @data_id = 0, @data_target = "#linkproducts" } )

    <span class="loader"></span>
</p>

<table id="products-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#products-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Name" data-column="p.Name">
                Name
            </th>
            <th data-name="ProductDescription" data-column="cp.ProductDescription">
                Description
            </th>
            <th data-name="HireRate" data-column="cp.HireRate">
                Hire Rate
            </th>
            <th data-name="IssueRate" data-column="cp.IssueRate">
                Issue Rate
            </th>
            <th data-name="LostRate" data-column="cp.LostRate">
                Lost Rate
            </th>
            <th data-name="PassonRate" data-column="cp.PassonRate">
                Pass-on Cost
            </th>
            <th data-name="RateType" data-column="cp.RateType">
                Rate Type
            </th>
            <th data-name="Status" data-column="cp.Status">
                Status
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( ClientProductCustomModel item in items )
            {
                Status status = ( Status ) item.Status;
                RateType rateType = ( RateType ) item.RateType;

                string active = ( status == Status.Active ) ? "active" : "inactive";
                string enable = ( status == Status.Active ) ? "Disable" : "Enable";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">

                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.ProductDescription
                    </td>
                    <td>
                        @( ( item.Rate ?? 0 ).ToString( "C", System.Globalization.CultureInfo.CreateSpecificCulture( "en-ZA" ) ) )
                    </td>
                    <td>
                        @( ( item.IssueRate ?? 0 ).ToString( "C", System.Globalization.CultureInfo.CreateSpecificCulture( "en-ZA" ) ) )
                    </td>
                    <td>
                        @( ( item.LostRate ?? 0 ).ToString( "C", System.Globalization.CultureInfo.CreateSpecificCulture( "en-ZA" ) ) )
                    </td>
                    <td>
                        @( ( item.PassonRate ?? 0 ).ToString( "C", System.Globalization.CultureInfo.CreateSpecificCulture( "en-ZA" ) ) )
                    </td>
                    <td>
                        @rateType.GetDisplayText()
                    </td>
                    <td>
                        @status.GetDisplayText()
                    </td>
                    <td width="15%">

                        @Html.ActionLink( "Details", "ProductDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        @Html.ActionLink( "Edit", "EditProduct", new { id = item.Id, returnView = "LinkProducts" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        @Html.ActionLink( enable, "DeleteProduct", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#linkproducts", @rel = "tipsyE", @title = enable + " this item?" } )

                    </td>

                </tr>

                count++;
            }
        }
    </tbody>

</table>

@*@Html.Partial( "_LinkProductCustomSearch", new ACT.Core.Models.CustomSearchModel( "LinkProduct" ) )*@

@Html.Partial( "_Paging" )