@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using System.Linq;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;
    //ViewBag.ShowQuickStructure = true;

    ViewBag.ViewName = "_ManageSites";

    UserModel user = User.Get();
}


@Html.Partial("_Notification")


@{
    Int32 count = Model.Start;
    List<Site> items = (List<Site>)Model.Items;
}


@if (Model == null || !items.Any())
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Sites available matching your search criteria.
    </div>
} else
{
    @*@if (items.Count == 1)
    {

    }*@
}


@using (Html.BeginForm("ImportSites", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#managesites", @class = "custom-validate", @style = "width: auto;", id = "importsites" }))
{
    <p>
        <table style="width:100%" border="0">
            <tr>
                <td style="width:3%">
                    <label for="file">Client:</label>
                </td>
                <td style="width:15%">
                    @Html.DropDownList("ClientList", "Please Select")
                </td>
                <td style="width:2%">
                    @Html.ActionLink("Add", "AddSite", new { sourceview = "ManageSites" }, new { @class = "add", @rel = "tipsyS", @title = "Add a new site?", @data_edit = "1", @data_id = 0, @data_target = "#managesites" })
                </td>
                <td style="width:5%">
                    &nbsp;
                </td>
                <td style="width:3%">
                    <label for="file" class="importlabel">Browse:</label>
                </td>
                <td style="width:55%">
                    <input type="file" id="postedFile" name="postedFile" class="form-control" accept=".csv" />
                </td>
                <td style="width:10%">
                    <input type="submit" value="Import Sites" class="importbutton" />
                </td>
                <td style="width:7%">
                    <a href="@(String.Format("{0}/{1}", Url.Content("~/Content/downloadtemplates"), "sitetemplate.csv"))" target="_blank" id="dlsitetemplate" name="dlsitetemplate" alt="Download CSV Template" tooltip="Download CSV Template"><i class="fa fa-file-excel-o"></i> Download CSV</a>
                </td>
            </tr>
        </table>
        <span class="loader"></span>
    </p>
}    

<div id="managesiteslist">

</div>
<table id="sites-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#sites-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="RegionId" data-column="RegionId">
                Region
            </th>
            <th data-name="Name" data-column="Name">
                Site Name
            </th>
            <th data-name="XCord" data-column="XCord">
                Site X Coordinate
            </th>
            <th data-name="YCord" data-column="YCord">
                Site Y Coordinate
            </th>
            <th data-name="Address" data-column="Address">
                Site Address
            </th>
            <th data-name="PostalCode" data-column="PostalCode">
                Postal Code
            </th>
            <th data-name="ContactNo" data-column="ContactNo">
                Contact Number
            </th>
            <th data-name="ContactName" data-column="ContactName">
                Contact Name
            </th>
            <th data-name="PlanningPoint" data-column="PlanningPoint">
                Planning Point
            </th>
            <th data-name="SiteType" data-column="SiteType">
                    Site Type
                </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && items != null && items.Count() > 0)
        {
            foreach (var item in items)
            {
                Status status = (Status)item.Status;

                String active = status.Equals(Status.Active) ? "active" : "inactive";
                String enable = status.Equals(Status.Active) ? "Disable" : "Enable";

                string regionName = "N/A";
                if (item.RegionId != null) {
                    using (RegionService reg = new RegionService())
                    {
                        Region region = reg.GetById((int)item.RegionId);
                        regionName = region.Name;
                    }
                }
                string siteTypeName = "N/A";
                if (item.SiteType!=null)
                {
                    siteTypeName = ((SiteType)item.SiteType).GetDisplayText();
                }

        <tr id="tr-@item.Id-item" class="tr-@item.Id-item">
            <td width="1%">
                @item.Id
            </td>
            <td>
                @regionName
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.XCord
            </td>
            <td>
                @item.YCord
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.PostalCode
            </td>
            <td>
                @item.ContactNo
            </td>
            <td>
                @item.ContactName
            </td>
            <td>
                @item.PlanningPoint
            </td>
            <td>
                @siteTypeName
            </td>
            <td>
                @Html.ActionLink("Details", "SiteDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

            @Html.ActionLink("Edit", "EditSite", new { id = item.Id, returnView = "ManageSites" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

            @Html.ActionLink(enable, "DeleteSite", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#managesites", @rel = "tipsyE", @title = enable + " this item?" })
            </td>
        </tr>

                count++;
            }
        }

        </tbody>

    </table>
        <script>
    function Redir(redirVal) {
        window.location.href = '@Url.Action("SubSites", "Client")'; //SubSites?siteId=redirVal
    }
        </script>
        @*<script type="text/javascript">
        $(function(){
          $("#btnRedirect").click(function(){
            window.location.href = "@Url.Action("ActionName","Controller")";
          });
        });
        </script>*@
        @*@Html.Partial( "_UserCustomSearch", new ACT.Core.Models.CustomSearchModel( "User" ) )*@
        <script>
            $(document).ready(function () {
                $('.add').hide();
                $('.importlabel').hide();
                $('.importbutton').hide();
                $('#postedFile').hide();
                //Clean Site List
                SortCients();


                $("#ClientList").change(function () {
                    var cId = parseInt($('option:selected', this).val());
                    if (cId > 0) {
                        $('.add').show();
                        $('.importlabel').show();
                        $('.importbutton').show();
                        $('#postedFile').show();
                        //GetIncludedSites(cId);
                    } else {
                        $('.add').hide();
                        $('.importlabel').hide();
                        $('.importbutton').hide();
                        $('#postedFile').hide();
                    }

                    $.ajax({
                        type: 'POST',
                        url: "SetClient",
                        data: { "ClientId": id },
                        success: function (response) {
                            window.location.href = 'Index#managesites';
                            location.reload();
                        }
                    });

                });
            });

            function SortClients() {
                var x = document.getElementById("ClientList");
                debugger;
                if (x.length > 1) {
                    for (var i = 0; i < x.length; i++) {
                        if (x.options[i].value == "")
                            x.remove(i);
                    }
                }
            }

            function GetIncludedSites(cId) {
                //debugger;
                var rowDiv = $("#sites-table tbody");
                $.ajax({
                    type: "GET",
                    url: "GetSitesForClient",
                    data: { clientId: cId },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //debugger;
                        var obj = JSON.parse(data.data);
                        rowDiv.html('');
                        var result = "";
                        $.each(obj, function (id, site) {

                            var actionStr = '<a class="info" data-details="1" data-id="' + site.Id + '" data-target=".tr-' + site.Id + '-item" href="/Client/SiteDetails/' + site.Id + '"> Details</a>' +
                                '<a class="edit" data-edit="1" data-id="' + site.Id + '" data-target=".tr-' + site.Id + '-item" href = "/Client/EditSite/' + site.Id + '?returnView=ManageSites">Edit</a > ' +
                                '<a class="warn" data-delete="1" data-id="' + site.Id + '" data-refresh-target="#managesites" data-target="#tr-' + site.Id + '-item" href="/Client/DeleteSite/' + site.Id + '" rel="tipsyE" title="Disable this item?" > Disable</a > ';
                            var regionname = "";
                            if (site.Region !== undefined && site.Region !== null) {
                                regionname = site.Region.Name;
                            }
                            result += '<tr id="tr-' + site.Id + '" class="tr-' + site.Id + '-item" role="row">' +
                                '<td style = "width: 15%;">' +
                                regionname +
                                '</td><td>' +
                                site.Name +
                                '</td><td>' +
                                site.XCord +
                                '</td><td> ' +
                                site.YCord +
                                '</td><td> ' +
                                site.Address +
                                '</td><td> ' +
                                site.PostalCode +
                                '</td><td> ' +
                                site.ContactNo +
                                ' </td><td> ' +
                                site.ContactName +
                                '</td><td> ' +
                                site.PlanningPoint +
                                '</td><td>' + actionStr + '</td></tr>';//<input type="radio" id="incl_item_id' + site.Id + '" name="incl_item" value="' + site.Id + '" />
                        });
                        rowDiv.html(result);

                    },
                    error: function (response) {

                        alert('Error retrieving sites');
                    }
                });

            }
        </script>
        @Html.Partial("_Paging")
