@model ProductViewModel

@using ACT.UI.Models;

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Link Product";
}


@Html.Partial( "_Notification" )

@using ( Html.BeginForm( "AddProduct", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#linkproducts", @class = "custom-validate", @style = "width: auto;" } ) )
{
    <div id="edit-item">

        <h2 class="uppercase" style="width: auto;">
            <img alt="" src="@Url.Content( "~/images/add.png" )" />
            <span>Link Product</span>
        </h2>

        @Html.ValidationSummary( true )

        <div id="item-details" class="item-details" style="width: auto;">

            <div class="left" style="width: 40%; margin-right: 5%;">

                <div class="edit-label">
                    @Html.LabelFor( model => model.Status )
                </div>
                <div class="edit-field">
                    @Html.EnumDropDownFor( model => model.Status, false, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.Status )
                </div>

                <div class="editor-label">
                    @Html.LabelFor( model => model.ClientId )
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor( model => model.ClientId, model => Model.ClientOptions, p => p.Key, p => p.Value, true, new { @class = "chzn", @required = "required", @readonly = "readonly", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.ClientId )
                </div>

                <div class="editor-label">
                    @Html.LabelFor( model => model.ProductId )
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor( model => model.ProductId, model => Model.ProductOptions, p => p.Key, p => p.Value, true, new { @class = "chzn", @required = "required", @readonly = "readonly", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.ProductId )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.Description )
                </div>
                <div class="edit-field">
                    @Html.TextAreaFor( model => model.Description, new { @style = "width: 93%;", @placeholder = "Enter Product Description" } )
                    @Html.ValidationMessageFor( model => model.Description )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.ActiveDate )
                </div>
                <div class="edit-field">
                    <input class="date-picker" data-val="true" data-val-date="The field Select Active Date must be a date." id="ActiveDate" name="ActiveDate" placeholder="Select Product Active Date" readonly="readonly" type="text" value="@( Model.ActiveDate.Value.ToString( "yyyy/MM/dd" ) )" aria-describedby="ActiveDate-error" aria-invalid="false">
                    @Html.ValidationMessageFor( model => model.ActiveDate )
                </div>

            </div>

            <div id="product-details" class="left grouped-area" style="width: 40%;">

                <div class="edit-label">
                    @Html.LabelFor( model => model.HireRate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.HireRate, new { @style = "width: 93%;", @placeholder = "Enter Product Hire Rate" } )
                    @Html.ValidationMessageFor( model => model.HireRate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.LostRate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.LostRate, new { @style = "width: 93%;", @placeholder = "Enter Product Lost Rate" } )
                    @Html.ValidationMessageFor( model => model.LostRate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.IssueRate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.IssueRate, new { @style = "width: 93%;", @placeholder = "Enter Product Issue Rate" } )
                    @Html.ValidationMessageFor( model => model.IssueRate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.PassonRate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.PassonRate, new { @style = "width: 93%;", @placeholder = "Enter Product Passon Rate" } )
                    @Html.ValidationMessageFor( model => model.PassonRate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.PassonDays )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.PassonDays, new { @placeholder = "Enter Product Passon Days" } )
                    @Html.ValidationMessageFor( model => model.PassonDays )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.Equipment )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.Equipment, new { @placeholder = "Enter Product Equipment" } )
                    @Html.ValidationMessageFor( model => model.Equipment )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.AccountingCode )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.AccountingCode, new { @placeholder = "Enter Product Accounting Code" } )
                    @Html.ValidationMessageFor( model => model.AccountingCode )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.RateType )
                </div>
                <div class="edit-field">
                    @Html.EnumDropDownFor( model => model.RateType, false, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.RateType )
                </div>

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 0;">&nbsp;</div>

            <p>
                <input id="save-btn" type="submit" value="Save" />

                <span style="padding: 0 5px;">/</span>

                <a data-refresh="1" data-target="#linkproducts">Cancel</a>
            </p>

        </div>

    </div>
}