@model Client

@using ACT.Core.Enums
@using ACT.Data.Models;

@{
    if (ViewBag.IncludeLayout == null)
    {
        Layout = null;
    }

    ViewBag.Title = "Details";

    //ServiceType type = (ServiceType) Model.;
    Address address = ViewBag.Address;
    List<Document> documents = ViewBag.Documents;
    List<Document> logo = ViewBag.Logo;
}

<div id="item-details" class="item-details" style="width: auto;">

    @if (ViewBag.IncludeLayout == null)
    {
        <h2>
            <img alt="" src="@Url.Content( "~/images/info.png" )" />
            <span>Client Details</span>
        </h2>
    }
    @Html.HiddenFor(model => model.Id)
    <div class="left" style="width: 60%; margin-right: 2%;">
        <div class="left" style="width: 50%; margin-right: 2%;">
            <h3>Client Details</h3>
            <div class="display-label">
                Client Name
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CompanyName)
            </div>
            <div class="display-label">
                Company Registration Number
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CompanyRegistrationNumber)
            </div>

            <h3>Contact Details</h3>
            <div class="display-label">
                Name
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ContactPerson)
            </div>
            <div class="display-label">
                Number
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ContactNumber)
            </div>


            <h3>Administrator Details</h3>
            <div class="display-label">
                Name
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FinancialPerson)
            </div>

        </div>

        <div class="left" style="width: 45%;">
            <h3>&nbsp;</h3>
            <div class="display-label">
                Trading As
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.TradingAs)
            </div>
            <div class="display-label">
                VAT Number
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.VATNumber)
            </div>


            <h3>&nbsp;</h3>

            <div class="display-label">
                Email Address
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>

            <h3>&nbsp;</h3>
            <div class="display-label">
                Email
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.AdminEmail)
            </div>

        </div>

        <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>


        @if (@ViewBag.Address != null)
        {

            <div class="left" style="width: 48%; margin-right: 4%;">

                <div class="display-label">
                    Address Line 1
                </div>
                <div class="display-field">
                    @address.Addressline1
                </div>

                <div class="display-label">
                    Town/City
                </div>
                <div class="display-field">
                    @address.Town
                </div>

                <div class="display-label">
                    Postal Code
                </div>
                <div class="display-field">
                    @address.PostalCode
                </div>


            </div>

            <div class="left" style="width: 48%;">
                <div class="display-label">
                    Suburb/Area
                </div>
                <div class="display-field">
                    @address.Addressline2
                </div>
                <div class="display-label">
                    Province
                </div>
                <div class="display-field">
                    @(((Province)address.Province).GetDisplayText())
                </div>

            </div>
        }
        else
        {
            <div class="left" style="width: 48%; margin-right: 4%;">

                <div class="display-label">
                    Street Address
                </div>
                <div class="display-field">
                    &nbsp;
                </div>

                <div class="display-label">
                    Town/City
                </div>
                <div class="display-field">
                    &nbsp;
                </div>

                <div class="display-label">
                    Postal Code
                </div>
                <div class="display-field">
                    &nbsp;
                </div>


            </div>

            <div class="left" style="width: 48%;">
                <div class="display-label">
                    Suburb/Area
                </div>
                <div class="display-field">
                    &nbsp;
                </div>
                <div class="display-label">
                    Province
                </div>
                <div class="display-field">
                    &nbsp;
                </div>

            </div>
        }
    </div>

    <div class="left" style="width: 33%; margin-right: 4%;">

        <div class="display-label">
            Logo
        </div>
        <div class="display-field">
            @if (@ViewBag.Logo != null)
            {
                foreach (Document l in @ViewBag.Logo)
                {
                    <img alt="logo" src="@(String.Format("{0}/{1}", Url.Content("~/Uploads/Documents"), l.Location))" style="width:80px;margin-bottom: 2px;" />
                    @*<a class="block" target="_blank" href="@Url.Action( "ViewDocument", "Client", new { @id = d.Id } )">
                            <img alt="download" src="@Url.Content( "~/Images/download.png" )" style="margin-bottom: 2px;" />

                            @d.Name (@d.Type)
                        </a>*@
                }
            }
        </div>
        <div class="display-label">
            Upload Documents
        </div>
        <div class="display-field">
            <div id="documentsdiv"></div>
                @*@if (@ViewBag.Documents != null)
            {
                foreach (Document d in @ViewBag.Documents)
                {
                    <a class="block" target="_blank" href="@Url.Action( "ViewDocument", "Client", new { @id = d.Id } )">
                        <img alt="download" src="@Url.Content( "~/Images/download.png" )" style="margin-bottom: 2px;" />

                        @d.Name (@d.Type)
                    </a>
                }
            }*@
            </div>
        </div>

    @*<div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
    <p>
        <strong class="uppercase">KPI</strong>
    </p>
        <div class="left" style="width: 40%; margin-right: 4%;">
            <div class="display-label">
                Outstanding
            </div>
            <div class="display-field">
                @ViewBag.KPI.OutstandingPallets
            </div>

            <div class="display-label">
                Disputes
            </div>
            <div class="display-field">
                @ViewBag.KPI.Disputes
            </div>

        </div>

        <div class="left" style="width: 40%; margin-right: 4%;">
            <div class="display-label">
                Days Outstanding
            </div>
            <div class="display-field">
                @ViewBag.KPI.OutstandingDays
            </div>

            <div class="display-label">
                Days to Resolve
            </div>
            <div class="display-field">
                @ViewBag.KPI.ResolveDays
            </div>

        </div>*@  
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
    <div id="budgets">        

        <div class="editor-label" style="margin-bottom: 10px;">
            Budgets
        </div>

        <div class="editor-field">
            <table id="clientBudget-table" class="da-table" style="border-bottom: 0;">

                <thead>
                    <tr>
                        <th style="width: 6%;">Year</th>
                        <th style="width: 7%;">Total</th>
                        <th style="width: 7%;">Jan</th>
                        <th style="width: 7%;">Feb</th>
                        <th style="width: 7%;">Mar</th>
                        <th style="width: 7%;">Apr</th>
                        <th style="width: 7%;">May</th>
                        <th style="width: 7%;">Jun</th>
                        <th style="width: 7%;">Jul</th>
                        <th style="width: 7%;">Aug</th>
                        <th style="width: 7%;">Sep</th>
                        <th style="width: 7%;">Oct</th>
                        <th style="width: 7%;">Nov</th>
                        <th style="width: 7%;">Dec</th>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>

        </div>
    </div>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>


    @if (ViewBag.IncludeLayout == null)
    {
        <p>
            @Html.ActionLink("Edit", "EditClient", new { id = Model.Id }, new { @class = "edit", @data_edit = "1", @data_id = Model.Id, @data_target = "#tr-" + Model.Id + "-item" })
            <a href="#" onclick="LinkToProducts('@Model.Id')"><i class="fa fa-link"></i>Link Products</a>
            @if (ViewBag.IncludeLayout == null)
            {
                <span style="padding: 0 5px;">/</span>
                <a data-cancel="1" data-target="#item-details" data-remove="tr.edit">Cancel</a>
            }
        </p>
    }

    @if (ViewBag.IncludeLayout != null)
    {
        <div class="back-to-list">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>
<script>
        $(document).ready(function () {
            var cId = $("#Id").val();
            LoadBudgets(cId);
            //$(".budgets").hide();
            populateDocs(cId, "client");
        });

    function ViewBudget() {
            $('.budgets').show();
    };

    function populateDocs(id, doctype) {

        $.ajax({

            url: '@Url.Action("CompanyFiles", "Client")',
            type: "GET",
            dataType: "html",
            data: { objId: id, objType:doctype },//this is as per your requirement
            success: function (data) {
                $('#documentsdiv').html(data);
            },
        });
    }

    function LinkToProducts(id) {
        $.ajax({
            type: 'POST',
            url: "SetClient",
            data: { "ClientId": id },
            success: function (response) {
                window.location.href = 'Index#linkproducts';
                location.reload();
            }
        });


    }

    function LoadBudgets(id) {
        var rowDiv = $("#clientBudget-table tbody");
        rowDiv.html('');


        var savecopy = '<a id="savebudget" onclick="SaveBudget([BUDGETID])" name="savebudget"><i class="fa fa-save"></i></a>';
        $.ajax({
            type: "GET",
            url: "GetClientBudgets",
            data: { clientId: id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                var count = Object.keys(data).length;
                var result = "";
                if (count > 0) {
                    //var fieldcopy = '<input class="input" id="ClientBudget_[FIELDNAME]-[FIELDVALUE]" style="padding: 0 5px; width: 87%;" type="number" value="[FIELDVALUE]">';
                    $.each(data, function (id, budget) {
                        var total = (budget.January + budget.February + budget.March + budget.April + budget.May + budget.June + budget.July + budget.August + budget.September + budget.October + budget.November + budget.December);
                        var tabledata = '<tr id="budg-' + budget.Id + '-row" name="budg-' + budget.Id + '">';//<form id="budg-' + budget.Id + '-frm" name="budg-' + budget.Id + '-frm" >
                        tabledata += '<td>' + budget.BudgetYear + '</td>';
                        tabledata += '<td>' + total + '</td>';
                        tabledata += '<td>' + budget.January + '</td>';
                        tabledata += '<td>' + budget.February + '</td>';
                        tabledata += '<td>' + budget.March + '</td>';
                        tabledata += '<td>' + budget.April + '</td>';
                        tabledata += '<td>' + budget.May + '</td>';
                        tabledata += '<td>' + budget.June + '</td>';
                        tabledata += '<td>' + budget.July + '</td>';
                        tabledata += '<td>' + budget.August + '</td>';
                        tabledata += '<td>' + budget.September + '</td>';
                        tabledata += '<td>' + budget.October + '</td>';
                        tabledata += '<td>' + budget.November + '</td>';
                        tabledata += '<td>' + budget.December + '</td>';
                        tabledata += '</tr>';
                        result += tabledata;
                    });

                }

                rowDiv.html(result);

            },
            error: function (response) {
                alert('error');
            }
        });

    }
    </script>