@model GroupViewModel

@using ACT.Core.Enums;
@using ACT.Data.Models;
@using ACT.UI.Models;

@{
    /**/

    if (ViewBag.IncludeLayout == null)
    {
        Layout = null;
    }

    ViewBag.Title = "Edit Group";
}


@Html.Partial("_Notification")

@using (Html.BeginForm("EditSite", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#clientlist", @class = "custom-validate", @style = "width: auto;" }))
{
    <div id="edit-item">

        <h2 class="uppercase" style="width: auto;">
            <img alt="" src="@Url.Content("~/images/edit.png")" />
            <span>Edit Group</span>
        </h2>

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)

        <div class="left" style="width: 45%; margin-right: 1%;">

            <div class="display-label">
                Name
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.Name, new { @class = "input", @placeholder = "Enter Site Name" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="display-label">
                Description
            </div>
            <div class="display-field">
                @Html.TextBoxFor(model => model.Description, new { @class = "input", @placeholder = "Enter Site Description" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
           

        </div>

        <div class="left" style="width: 45%;">
            <div class="edit-label">
                @Html.LabelFor(model => model.Status)
            </div>
            <div class="edit-field">
                @Html.EnumDropDownFor(model => model.Status, false, new { @class = "chzn", @style = "width: 98%;" })
                @Html.ValidationMessageFor(model => model.Status)
            </div>

        </div>
        <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>


        </div>
    <p>
        <input id="save-btn" type="submit" value="Update" />
        <span style="padding: 0 5px;">/</span> <a data-cancel="1" data-target="#edit-item" data-remove="tr.edit">Cancel</a>
    </p>
}