@model SiteViewModel

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using ACT.UI.Models;
@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Site Details";
    Address address = ViewBag.Address;
    //Region regionOptions = ViewBag.RegionOptions;
}


<div id="item-details" class="item-details" style="width: auto;">

    @if (ViewBag.IncludeLayout == null)
    {
        <h2>
            <img alt="" src="@Url.Content( " ~/images/info.png" )" />
            <span>Site Details</span>
        </h2>
    }
    @Html.HiddenFor(model => model.Id)
    <div class="left" style="width: 45%; margin-right: 1%;">

        <div class="display-label">
            Name
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            Description
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
            @*@(( ( Status ) Model.Status ).GetDisplayText())*@
        </div>
        <div class="display-label">
            Site Type
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SiteType)
            @*@(( ( Site ) Model.Status ).GetDisplayText())*@
        </div>
        <div class="display-label">
            Account Code
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccountCode)
            @*@Html.DisplayFor( model => model.UserRoles.FirstOrDefault().Role.Name )*@
        </div>

        <div class="display-label">
            Planning Point
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PlanningPoint)
        </div>

        <div class="display-label">
            Depot
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Depot)
        </div>

        <div class="display-label">
            Chep SiteCode
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SiteCodeChep)
        </div>

    </div>

    <div class="left" style="width: 45%;">
        <h3>Contact Details</h3>
        <div class="display-label">
            Contact Number
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ContactNo)
        </div>


        <div class="display-label">
            Contact Person
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ContactName)
        </div>
        <h3>Contact Details</h3>
        <div class="display-label">
            X Coordinates
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.XCord)
        </div>


        <div class="display-label">
            Y Coordinates
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.YCord)
        </div>

        <div class="display-label">
            Region
        </div>
        @using (RegionService reg = new RegionService())
        {
            Region region = reg.GetById((int)Model.RegionId);
            <td style="width: 15%;">
                @region.Name
            </td>
        }

    </div>
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>


    @if (address != null)
    {

        <div class="left" style="width: 48%; margin-right: 4%;">

            <div class="display-label">
                Address Line 1
            </div>
            <div class="display-field">
                @address.Addressline1
            </div>

            <div class="display-label">
                Town
            </div>
            <div class="display-field">
                @address.Town
            </div>

            <div class="display-label">
                Postal Code
            </div>
            <div class="display-field">
                @address.PostalCode
            </div>


        </div>

        <div class="left" style="width: 48%;">
            <div class="display-label">
                Address Line 2
            </div>
            <div class="display-field">
                @address.Addressline2
            </div>
            <div class="display-label">
                Province
            </div>
            <div class="display-field">
                @(((Province)address.Province).GetDisplayText())
            </div>

        </div>
    }
    else
    {
        <div class="left" style="width: 48%; margin-right: 4%;">

            <div class="display-label">
                Address Line 1
            </div>
            <div class="display-field">
                &nbsp;
            </div>

            <div class="display-label">
                Town
            </div>
            <div class="display-field">
                &nbsp;
            </div>

            <div class="display-label">
                Postal Code
            </div>
            <div class="display-field">
                &nbsp;
            </div>


        </div>

        <div class="left" style="width: 48%;">
            <div class="display-label">
                Address Line 2
            </div>
            <div class="display-field">
                &nbsp;
            </div>
            <div class="display-label">
                Province
            </div>
            <div class="display-field">
                &nbsp;
            </div>

        </div>
    }

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
    <div id="budgets">


        <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>

        <div class="editor-label" style="margin-bottom: 10px;">
            Budgets
        </div>

        <div class="editor-field">
            <table id="siteBudget-table" class="da-table" style="border-bottom: 0;">

                <thead>
                    <tr>
                        <th style="width: 7%;">Year</th>
                        <th style="width: 7%;">Jan</th>
                        <th style="width: 7%;">Feb</th>
                        <th style="width: 7%;">Mar</th>
                        <th style="width: 7%;">Apr</th>
                        <th style="width: 7%;">May</th>
                        <th style="width: 7%;">Jun</th>
                        <th style="width: 7%;">Jul</th>
                        <th style="width: 7%;">Aug</th>
                        <th style="width: 7%;">Sep</th>
                        <th style="width: 7%;">Oct</th>
                        <th style="width: 7%;">Nov</th>
                        <th style="width: 7%;">Dec</th>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>

        </div>
    </div>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>


    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">&nbsp;</div>

    @if (ViewBag.IncludeLayout == null)
    {
        <p>
            @Html.ActionLink("Edit", "EditSite", new { id = Model.Id }, new { @class = "edit", @data_edit = "1", @data_id = Model.Id, @data_target = "#tr-" + Model.Id + "-item" })

            @if (ViewBag.IncludeLayout == null)
            {
                <span style="padding: 0 5px;">/</span>
                <a data-cancel="1" data-target="#item-details" data-remove="tr.edit">Cancel</a>
            }
        </p>
    }

    @if (ViewBag.IncludeLayout != null)
    {
        <div class="back-to-list">
            @Html.ActionLink("Back to List", "_ManageSites")
        </div>
    }

</div>
<script>
    $(document).ready(function () {
        var sId = $("#Id").val();
        LoadBudgets(sId);
        //$(".budgets").hide();

    });

    function ViewBudget() {
        $('.budgets').show();
    };

    function LoadBudgets(id) {
        var rowDiv = $("#siteBudget-table tbody");
        rowDiv.html('');


        var savecopy = '<a id="savebudget" onclick="SaveBudget([BUDGETID])" name="savebudget"><i class="fa fa-save"></i></a>';
        $.ajax({
            type: "GET",
            url: "GetSiteBudgets",
            data: { siteId: id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                var count = Object.keys(data).length;
                var result = "";
                if (count > 0) {
                    //var fieldcopy = '<input class="input" id="ClientBudget_[FIELDNAME]-[FIELDVALUE]" style="padding: 0 5px; width: 87%;" type="number" value="[FIELDVALUE]">';
                    $.each(data, function (id, budget) {
                        var tabledata = '<tr id="budg-' + budget.Id + '-row" name="budg-' + budget.Id + '">';//<form id="budg-' + budget.Id + '-frm" name="budg-' + budget.Id + '-frm" >
                        tabledata += '<td>' + budget.BudgetYear + '</td>';
                        tabledata += '<td>' + budget.January + '</td>';
                        tabledata += '<td>' + budget.February + '</td>';
                        tabledata += '<td>' + budget.March + '</td>';
                        tabledata += '<td>' + budget.April + '</td>';
                        tabledata += '<td>' + budget.May + '</td>';
                        tabledata += '<td>' + budget.June + '</td>';
                        tabledata += '<td>' + budget.July + '</td>';
                        tabledata += '<td>' + budget.August + '</td>';
                        tabledata += '<td>' + budget.September + '</td>';
                        tabledata += '<td>' + budget.October + '</td>';
                        tabledata += '<td>' + budget.November + '</td>';
                        tabledata += '<td>' + budget.December + '</td>';
                        tabledata += '</tr>';
                        result += tabledata;
                    });

                }

                rowDiv.html(result);

            },
            error: function (response) {
                alert('error');
            }
        });

    }
</script>