@model ACT.UI.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="sign-in">

    <div class="left" style="width: 40%; background: #fff;">
        <img alt="" src="@Url.Content("~/Images/act-logo.png")" style="border-right: 1px solid #002e70; padding-right: 20px; width: 100%; padding-bottom: 10px;" />
    </div>

    <div class="left" style="width: 53%; margin-left: 7%;">

        <div class="heads">
            Forgot Password
        </div>

        <div class="details">

            @using ( Html.BeginForm( new { ReturnUrl = Model.ReturnUrl } ) )
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary( true )

                <p>
                    @Html.TextBoxFor( model => model.Email, new { @class = "input", @placeholder = "Enter your e-mail address" } )
                    @Html.ValidationMessageFor( model => model.Email )
                </p>

                <div class="h-space"></div>

                <p style="margin: 0;">
                    <input type="submit" value="Submit" style="display: inline;" />

                    <span style="padding: 0 2px;">|</span>

                    @Html.ActionLink( "Sign In", "Login", new { ReturnUrl = Model.ReturnUrl }, new { @class = "uppercase" } )

                    <span style="padding: 0 2px;">|</span>

                    @Html.ActionLink( "Register", "Register", new { }, new { @class = "uppercase" } )
                </p>
            }

        </div>

    </div>

    <div class="clear"></div>

</div>
