@model ACT.UI.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="sign-in">

    <div class="left" style="width: 40%; background: #fff;">
        <img alt="" src="@Url.Content("~/Images/act-logo.png")" style="border-right: 1px solid #002e70; padding: 37px 27px 37px 0; width: 100%;" />
    </div>

    <div class="left" style="width: 53%; margin-left: 7%;">

        <div class="heads">
            Reset My Password
        </div>

        <div class="details">

            @using ( Html.BeginForm( new { ReturnUrl = Model.ReturnUrl } ) )
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary( true )

                @Html.HiddenFor( model => model.UID )

                <p>
                    @Html.PasswordFor( model => model.Password, new { @class = "input", @placeholder = "Enter your new password" } )
                    @Html.ValidationMessageFor( model => model.Password )
                </p>

                <p>
                    @Html.PasswordFor( model => model.ConfirmPassword, new { @class = "input", @placeholder = "Confirm your new password" } )
                    @Html.ValidationMessageFor( model => model.ConfirmPassword )
                </p>

                <div class="h-space"></div>

                <p style="margin: 0;">
                    <input type="submit" value="Update" style="display: inline;" />
                </p>
            }

        </div>

    </div>

    <div class="clear"></div>

</div>
