
@model List<ClientLoadCustomModel>

@using ACT.Core.Enums;
@using ACT.Core.Models.Custom;

<div style="max-height: 800px; overflow-x: auto;">


    @Html.Partial( "_Notification" )

    @if ( !Model.NullableAny() )
    {
        <div class="message-warn" style="margin-bottom: 20px;">
            There are no Outstanding Pallets available matching your search criteria.
        </div>
    }

    <table id="ageofoutstandingpallets-table" class="da-table">

        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Load Date
                </th>
                <th>
                    Chep Account/GLID #
                </th>
                <th>
                    Supplier From
                </th>
                <th>
                    Shipment #
                </th>
                <th>
                    Customer To
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Status
                </th>
                <th>
                    Transporter
                </th>
                <th>
                    Vehicle
                </th>
                <th>
                    Invoice #
                </th>
            </tr>
        </thead>

        <tbody>
            @if ( Model.NullableAny() )
            {
                int count = 1;

                foreach ( var item in Model )
                {
                    ReconciliationStatus status = ( ReconciliationStatus ) item.Status;

                    string active = status == ReconciliationStatus.Reconciled ? "active" : "inactive";

                    <tr id="ageofoutstandingpallets-@item.Id-item" class="ageofoutstandingpallets-@item.Id-item ">
                        <td>
                            @count
                        </td>
                        <td>
                            @(item.LoadDate?.ToString( "yyyy-MM-dd" ))
                        </td>
                        <td>
                            @( item.ChepAccountGLIDNo ?? item.GLID )
                        </td>
                        <td>
                            @item.SiteName
                        </td>
                        <td>
                            @item.LoadNumber
                        </td>
                        <td>
                            @item.ToSiteName
                        </td>
                        <td>
                            @item.OriginalQuantity
                        </td>
                        <td>
                            @item.PODComment
                        </td>
                        <td class="@(status == ReconciliationStatus.Reconciled ? "active" : "inactive")">
                            @status
                        </td>
                        <td>
                            @item.TransporterName
                        </td>
                        <td>
                            @item.VehicleRegistration
                        </td>
                        <td>
                            @item.InvoiceNumber
                        </td>
                    </tr>

                    count++;
                }
            }
        </tbody>

    </table>

</div>