
@model List<ChepLoadCustomModel>

@using ACT.Core.Enums;
@using ACT.Core.Models.Custom;

<div style="max-height: 800px; overflow-x: auto;">


    @Html.Partial( "_Notification" )

    @if ( !Model.NullableAny() )
    {
        <div class="message-warn" style="margin-bottom: 20px;">
            There are no Authorisation Codes available matching your search criteria.
        </div>
    }

    <table id="authorisationcodes-table" class="da-table">

        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Load Date
                </th>
                <th>
                    Client
                </th>
                <th>
                    Docket #
                </th>
                <th>
                    Ref #
                </th>
                <th>
                    Other Ref #
                </th>
                <th>
                    Transaction Type
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Status
                </th>
                <th>
                    Balanced
                </th>
                <th>
                    Code
                </th>
            </tr>
        </thead>

        <tbody>
            @if ( Model.NullableAny() )
            {
                int count = 1;

                foreach ( var item in Model )
                {
                    PostingType postingType = ( PostingType ) item.PostingType;
                    BalanceStatus balanceStatus = ( BalanceStatus ) item.BalanceStatus;
                    ReconciliationStatus status = ( ReconciliationStatus ) item.Status;

                    string active = ( status == ReconciliationStatus.Reconciled ) ? "active" : "inactive";

                    <tr id="tr-@item.Id-item" class="tr-@item.Id-item">

                        <td width="1%">
                            @count
                        </td>
                        <td>
                            @(item.EffectiveDate?.ToString( "yyyy-MM-dd" ))
                        </td>
                        <td>
                            @item.ClientName
                        </td>
                        <td>
                            @item.DocketNumber
                        </td>
                        <td>
                            @item.Ref
                        </td>
                        <td>
                            @item.OtherRef
                        </td>
                        <td>
                            @item.TransactionType
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td class="@(status == ReconciliationStatus.Reconciled ? "active" : "inactive")">
                            @status.GetDisplayText()
                        </td>
                        <td class="@(balanceStatus == BalanceStatus.Balanced ? "active" : "inactive")">
                            @balanceStatus.GetDisplayText()
                        </td>
                        <td>
                            @item.AuthorisationCode
                        </td>

                    </tr>

                    count++;
                }
            }
        </tbody>

    </table>

</div>