@model ACT.UI.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="sign-in">

    <div class="left" style="width: 40%; background: #fff;">
        <img alt="" src="@Url.Content("~/Images/act-logo.png")" style="border-right: 1px solid #002e70; padding: 37px 27px 37px 0; width: 100%;" />
    </div>

    <div class="left" style="width: 53%; margin-left: 7%;">

        <div class="heads">
            User Login
        </div>

        <div class="details">

            @using ( Html.BeginForm( new { ReturnUrl = Model.ReturnUrl } ) )
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary( true )

                <p>
                    @Html.TextBoxFor( model => model.UserName, new { @class = "input", @placeholder = "Enter User Name" } )
                    @Html.ValidationMessageFor( model => model.UserName )
                </p>

                <p>
                    @Html.PasswordFor( model => model.Password, new { @class = "input", @placeholder = "Enter Password" } )
                    @Html.ValidationMessageFor( model => model.Password )
                </p>

                <div class="h-space"></div>

                <p style="margin: 0;">
                    <input type="submit" value="Sign In" style="display: inline;" />

                    <span style="padding: 0 2px;">|</span>

                    @Html.ActionLink( "Forgot Password", "ForgotPassword", new { ReturnUrl = Model.ReturnUrl }, new { @class = "uppercase" } )

                    <span style="padding: 0 2px;">|</span>

                    @Html.ActionLink( "Register", "Register", new { }, new { @class = "uppercase" } )
                </p>
            }

        </div>

    </div>

    <div class="clear"></div>

</div>
