@model PSPConfigViewModel

@using ACT.UI.Models;


@Html.Partial( "_Notification" )

@using ( Html.BeginForm( "PSPConfig", "Administration", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#psps", @style = "width: auto;" } ) )
{
    <div id="edit-item">

        <h2 class="uppercase" style="width: auto;">
            <img alt="" src="@Url.Content( "~/images/edit.png" )" />
            <span>Edit PSP Configuration</span>
        </h2>

        @Html.ValidationSummary( true )

        @Html.HiddenFor( model => model.Id )
        @Html.HiddenFor( model => model.PSPId )

        <div id="item-details" class="item-details" style="width: auto;">

            <div class="grouped-area">

                <div class="left" style="width: 48%; margin-right: 4%;">

                    <div class="edit-label">
                    @Html.LabelFor(model => model.PSPId)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.PSPId, new { @placeholder = "Enter PSP ID received upon registration" })
                    @Html.ValidationMessageFor(model => model.PSPId)
                </div>
                <div class="edit-label">
                    @Html.LabelFor(model => model.SystemContactEmail)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.SystemContactEmail, new { @placeholder = "Enter System Contact Email" })
                    @Html.ValidationMessageFor(model => model.SystemContactEmail)
                </div>

                <div class="edit-label">
                    @Html.LabelFor(model => model.FinancialEmail)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.FinancialEmail, new { @placeholder = "Enter Finance Contact Email" })
                    @Html.ValidationMessageFor(model => model.FinancialEmail)
                </div>

                <div class="edit-label">
                    @Html.LabelFor(model => model.ImportEmail)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.ImportEmail, new { @placeholder = "Enter Import Email" })
                    @Html.ValidationMessageFor(model => model.ImportEmail)
                </div>

                <div class="edit-label">
                    @Html.LabelFor(model => model.ReceivingManagerEmail)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.ReceivingManagerEmail, new { @placeholder = "Enter Receiving Manager Email" })
                    @Html.ValidationMessageFor(model => model.ReceivingManagerEmail)
                </div>

                <div class="edit-label">
                    @Html.LabelFor(model => model.OpsManagerEmail)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.OpsManagerEmail, new { @placeholder = "Enter OPs Manager Email" })
                    @Html.ValidationMessageFor(model => model.OpsManagerEmail)
                </div>

                <div class="edit-label">
                    @Html.LabelFor(model => model.AdminManagerEmail)
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor(model => model.AdminManagerEmail, new { @placeholder = "Enter Admin Manager Email" })
                    @Html.ValidationMessageFor(model => model.AdminManagerEmail)
                </div>

            </div>

                <div class="left" style="width: 48%;">

                    <div class="edit-label">
                        @Html.LabelFor( model => model.WelcomeEmailName )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.WelcomeEmailName, new { @placeholder = "Enter Welcome Email Name" } )
                        @Html.ValidationMessageFor( model => model.WelcomeEmailName )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.DeclineEmailName )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.DeclineEmailName, new { @placeholder = "Enter Decline Email Name" } )
                        @Html.ValidationMessageFor( model => model.DeclineEmailName )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ClientCorrespondenceName )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.ClientCorrespondenceName, new { @placeholder = "Enter Client Correspondence Name" } )
                        @Html.ValidationMessageFor( model => model.ClientCorrespondenceName )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.InvoiceRunDay )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.InvoiceRunDay, new { @placeholder = "Enter Invoice Run Day E.g 1" } )
                        @Html.ValidationMessageFor( model => model.InvoiceRunDay )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.BillingFileLocation )
                    </div>
                    <div class="edit-field">

                        @Html.TextBoxFor( model => model.BillingFileLocation, new { @placeholder = "Enter PSP Billing File Location" } )
                        @Html.ValidationMessageFor( model => model.BillingFileLocation )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.DocumentLocation )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.DocumentLocation, new { @placeholder = "Enter PSP Document Location" } )
                        @Html.ValidationMessageFor( model => model.DocumentLocation )
                    </div>

                </div>

                <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>

                <div class="left" style="width: 48%; margin-right: 4%;">

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ImportEmailHost )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.ImportEmailHost, new { @placeholder = "Enter Import Email Host" } )
                        @Html.ValidationMessageFor( model => model.ImportEmailHost )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ImportEmailUsername )
                    </div>
                    <div class="edit-field">
                        @Html.TextBoxFor( model => model.ImportEmailUsername, new { @placeholder = "Enter Import Email Username" } )
                        @Html.ValidationMessageFor( model => model.ImportEmailUsername )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ImportEmailPassword )
                    </div>
                    <div class="edit-field">
                        @Html.PasswordFor( model => model.ImportEmailPassword, new { @placeholder = "Enter Import Email Password" } )
                        @Html.ValidationMessageFor( model => model.ImportEmailPassword )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ImportEmailPort )
                    </div>
                    <div class="edit-field">
                        @Html.PasswordFor( model => model.ImportEmailPort, new { @placeholder = "Enter Import Email Port" } )
                        @Html.ValidationMessageFor( model => model.ImportEmailPort )
                    </div>

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ImportUseSSL )
                    </div>
                    <div class="edit-field">
                        @Html.EnumDropDownFor( model => model.ImportUseSSL, false, new { @class = "chzn", @style = "width: 96%;" } )
                        @Html.ValidationMessageFor( model => model.ImportUseSSL )
                    </div>

                </div>

                <div class="clear"></div>

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>

            <div class="grouped-area" style="margin-bottom: 0;">

                <p style="margin-bottom: 0;">

                    <input id="save-btn" type="submit" value="Save" />

                    <span style="padding: 0 5px;">/</span>

                    <a data-cancel="1" data-target="#item-details" data-remove="tr.edit">Cancel</a>

                    <span class="loader"></span>

                </p>

            </div>

        </div>

    </div>
}