@model PagingExtension

@using ACT.Core.Models.Custom;
@using ACT.Core.Enums;
@using ACT.Core.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;
    ViewBag.ViewName = "PSP Product";

    UserModel user = User.Get();
}


@Html.Partial("_Notification")

@{
    int count = Model.Start;
    List<PSPProductCustomModel> items = (List<PSPProductCustomModel>)Model.Items;
}

@if (Model == null || !items.Any())
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no PSP Products matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink("Add PSP Product", "AddPSPProduct", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new PSP Product?", @data_edit = "1", @data_id = 0, @data_target = "#pspproducts" })
    <span class="loader"></span>
</p>

<table id="pspproducts-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#pspproducts-table_wrapper" data-starting-point=".ap-tabs ul">

    <thead>
        <tr>
            @*<th data-name="Count">
                #
            </th>*@
            <th data-name="CreatedOn" data-column="CreatedOn">
                Date
            </th>
            <th data-name="PSPId">
                PSP
            </th>
            <th data-name="PSPProductId">
                PSP Product
            </th>
            <th data-name="Name">
                Name
            </th>
            <th data-name="Description">
                Description
            </th>
            <th data-name="StartDate" data-column="StartDate">
                Starts
            </th>
            <th data-name="EndDate" data-column="EndDate">
                Ends
            </th>
            <th data-name="Status" data-column="Status">
                Status
            </th>
            <th data-name="Rate">
                Rate
            </th>
            <th data-name="RateUnit">
                RateUnit
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && items != null && items.Count() > 0)
        {
            foreach (var item in items)
            {
                Status status = (Status)item.Status;

                string active = (status == Status.Active) ? "active" : "inactive";
                string enable = (status == Status.Active) ? "Disable" : "Enable";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">
                  
                    <td>
                        @item.CreatedOn.ToString("yyyy/MM/dd")                       
                    </td>
                    <td>@item.PSPId</td>
                   <td>@item.ProductId</td>

                    <td>    @item.Name                    </td>
                    <td>                        @item.Description                    </td>
                    <td>
                        @(item.StartDate.HasValue ? item.StartDate.Value.ToString("yyyy/MM/dd") : "-/-")
                    </td>
                    <td>
                        @(item.EndDate.HasValue ? item.EndDate.Value.ToString("yyyy/MM/dd") : "-/-")
                    </td>
                    <td>@item.Status</td>

                    <td>                        @item.Rate                    </td>

                    <td>                         @item.RateUnit                     </td>
                   @*// count++;*@

                    <td width="16%">
                        @Html.ActionLink("Details", "PSPProductDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

                        @Html.ActionLink("Edit", "EditPSPProduct", new { id = item.Id, returnView = "PSPProducts" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })
                        @Html.ActionLink(enable, "DeletePSPProduct", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#pspproducts", @rel = "tipsyE", @title = enable + " this item?" })
                    </td>
                </tr>

            }
        }
    </tbody>

</table>

@Html.Partial("_Paging")