@model ACT.UI.Models.TransporterViewModel

@using ACT.Core.Enums;

@{
    /**/

    if (ViewBag.IncludeLayout == null)
    {
        Layout = null;
    }

    ViewBag.Title = "Edit Transporter";
}


@Html.Partial("_Notification")

@using (Html.BeginForm("EditTransporter", "Administration", FormMethod.Post, new { @data_ajax_form = "1", @data_target = "#managetransporters", @class = "custom-validate", @style = "width: auto;" }))
{
<div id="edit-item">

    <h2 class="uppercase" style="width: auto;">
        <img alt="" src="@Url.Content("~/images/edit.png")" />
        <span>Edit Transporter</span>
    </h2>

    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Status)

    <div class="left" style="width: 45%; margin-right: 1%;">

        <div class="editor-label">
            Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class = "input", @placeholder = "Enter Transporter Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Trading Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TradingName, new { @class = "input", @placeholder = "Enter Transporter Trading Name" })
            @Html.ValidationMessageFor(model => model.TradingName)
        </div>
        <div class="editor-label">
            Registrtion Number
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RegistrationNumber, new { @class = "input", @placeholder = "Enter Transporter Registration Number" })
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>

    </div>

    <div class="left" style="width: 45%; margin-right: 1%;">

        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "input", @placeholder = "Enter Transporter Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            Contact Number
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "input", @placeholder = "Enter Transporter Number" })
            @Html.ValidationMessageFor(model => model.ContactNumber)
        </div>


    </div>


    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>


</div>
<p>
    <input id="save-btn" type="submit" value="Update" />
    <span style="padding: 0 5px;">/</span> <a data-cancel="1" data-target="#edit-item" data-remove="tr.edit">Cancel</a>
</p>
}