@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using ACT.UI.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_AuthorisationCodes";
}


@Html.Partial( "_Notification" )


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;

    List<ChepLoadCustomModel> items = ( List<ChepLoadCustomModel> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Authorisation Codes available matching your search criteria.
    </div>
}

@*<p>
        @Html.ActionLink( "Add", "AddAuthorisationCode", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new Authorisation Code?", @data_edit = "1", @data_id = 0, @data_target = "#authorisationcodes" } )
        <span class="loader"></span>
    </p>*@

<table id="authorisationcodes-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#authorisationcodes-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="LoadDate" data-column="cl.LoadDate">
                Load Date
            </th>
            <th data-name="CompanyName" data-column="c.CompanyName">
                Client
            </th>
            <th data-name="DocketNumber" data-column="cl.DocketNumber">
                Docket #
            </th>
            <th data-name="Ref" data-column="cl.Ref">
                Ref #
            </th>
            <th data-name="OtherRef" data-column="cl.OtherRef">
                Other Ref #
            </th>
            <th data-name="TransactionType" data-column="cl.TransactionType">
                Transaction Type
            </th>
            <th data-name="Quantity" data-column="cl.Quantity">
                Qty
            </th>
            <th data-name="Status" data-column="cl.Status">
                Status
            </th>
            <th data-name="BalanceStatus" data-column="cl.BalanceStatus">
                Balanced
            </th>
            <th data-name="Code" data-column="ca.Code">
                Code
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( ChepLoadCustomModel item in items )
            {
                PostingType postingType = ( PostingType ) item.PostingType;
                BalanceStatus balanceStatus = ( BalanceStatus ) item.BalanceStatus;
                ReconciliationStatus status = ( ReconciliationStatus ) item.Status;

                string active = ( status == ReconciliationStatus.Reconciled ) ? "active" : "inactive";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item">

                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @(item.EffectiveDate?.ToString( "yyyy-MM-dd" ))
                    </td>
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                        @item.DocketNumber
                    </td>
                    <td>
                        @item.Ref
                    </td>
                    <td>
                        @item.OtherRef
                    </td>
                    <td>
                        @item.TransactionType
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td class="@(status == ReconciliationStatus.Reconciled ? "active" : "inactive")">
                        @status.GetDisplayText()
                    </td>
                    <td class="@(balanceStatus == BalanceStatus.Balanced ? "active" : "inactive")">
                        @balanceStatus.GetDisplayText()
                    </td>
                    <td>
                        @item.AuthorisationCode
                    </td>
                    <td width="5%">
                        @if ( string.IsNullOrEmpty( item.AuthorisationCode ) )
                        {
                            @Html.ActionLink( "Generate", "GenerateAuthorisationCode", new { id = item.Id }, new { @class = "add append-search", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#authorisationcodes", @rel = "tipsyE", @title = "Generate authorisation code this load?" } )
                        }
                    </td>

                </tr>

                count++;
            }
        }
    </tbody>

</table>

@Html.Partial( "_Paging" )