@model PagingExtension

@using ACT.Core.Enums;
@using ACT.Core.Models.Custom;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_ClientData";
}


@Html.Partial( "_Notification" )


@{
    Int32 count = Model.Start;

    List<ClientLoadCustomModel> items = ( List<ClientLoadCustomModel> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Client Load Entries available matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink( "Add", "AddClientData", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add Manual Client Data?", @data_edit = "1", @data_id = 0, @data_target = "#clientdata" } )

    <span style="padding: 0 5px;">|</span>

    @Html.ActionLink( "Import", "ImportClientData", new { }, new { @class = "csv", @rel = "tipsyS", @title = "Import Client Data?", @data_edit = "1", @data_id = 0, @data_target = "#clientdata" } )

    <span class="loader"></span>
</p>

<table id="CDlist-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#CDlist-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="CreatedOn" data-column="cl.CreatedOn">
                Imported/Created
            </th>
            <th data-name="LoadDate" data-column="cl.LoadDate">
                Load Date
            </th>
            <th data-name="Client" data-column="c.CompanyName">
                Client
            </th>
            <th data-name="LoadNumber" data-column="cl.LoadNumber">
                Shipment #
            </th>
            <th data-name="DeliveryNote" data-column="cl.DeliveryNote">
                Delivery #
            </th>
            <th data-name="ReceiverNumber" data-column="cl.ReceiverNumber">
                Receiver #
            </th>
            <th data-name="Equipment" data-column="cl.Equipment">
                Equipment
            </th>
            <th data-name="PODNumber" data-column="cl.PODNumber">
                POD
            </th>
            <th data-name="PCNNumber" data-column="cl.PCNNumber">
                PCN
            </th>
            <th data-name="PRNNumber" data-column="cl.PRNNumber">
                PRN
            </th>
            <th data-name="OriginalQuantity" data-column="cl.OriginalQuantity">
                Qty
            </th>
            <th data-name="Status" data-column="cl.Status">
                Status
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                ReconciliationStatus status = ( ReconciliationStatus ) item.Status;

                string active = status == ReconciliationStatus.Reconciled ? "active" : "inactive";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">
                    <td>
                        @count
                    </td>
                    <td>
                        @item.CreatedOn.ToString( "yyyy-MM-dd @ HH:mm tt" )
                    </td>
                    <td>
                        @item.LoadDate.Value.ToString( "yyyy-MM-dd" )
                    </td>
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                        @item.LoadNumber
                    </td>
                    <td>
                        @item.DeliveryNote
                    </td>
                    <td>
                        @item.ReceiverNumber
                    </td>
                    <td>
                        @item.Equipment
                    </td>
                    <td>
                        @item.PODNumber
                    </td>
                    <td>
                        @item.PCNNumber
                    </td>
                    <td>
                        @item.PRNNumber
                    </td>
                    <td>
                        @item.OriginalQuantity
                    </td>
                    <td>
                        @status
                    </td>
                    <td width="10%">

                        <div style="border-bottom: 1px dashed #7368e3; padding-bottom: 4px; margin-bottom: 10px;">

                            @Html.ActionLink( "Details", "ClientDataDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                            @Html.ActionLink( "Edit", "EditClientData", new { id = item.Id, returnView = "ClientData" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        </div>

                    </td>
                </tr>
                count++;
            }
        }
    </tbody>

</table>

@Html.Partial( "_Paging" )