@model PagingExtension

@using ACT.Core.Models.Custom;

@{
    Int32 count = Model.Start;
    List<ClientLoadCustomModel> items = ( List<ClientLoadCustomModel> ) Model.Items;
}

<table id="client-table" class="da-table small fixed-headerx" data-fixed-header-target="#client-loads" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="EffectiveDate">
                Load Date
            </th>
            <th data-name="Equipment">
                Product
            </th>
            <th data-name="LoadNumber">
                Load #
            </th>
            <th data-name="OriginalQuantity">
                Qty
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items.NullableAny() )
        {
            foreach ( var item in items )
            {
                <tr id="tr-@item.Id-row" class="recon-droppable" data-cid="@item.Id" data-qty="@item.OriginalQuantity" data-product="@item.Equipment" data-load-number="@item.LoadNumber" data-parent="#chep-loads">
                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @(item.EffectiveDate?.ToString( "yyyy-MM-dd" ))
                    </td>
                    <td>
                        @item.Equipment
                    </td>
                    <td>
                        @item.LoadNumber
                    </td>
                    <td>
                        @item.OriginalQuantity
                    </td>
                    <td width="15%">
                    </td>
                </tr>

                count++;
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    There are no records to display
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial( "_TinyPaging" )