@model PagingExtension

@using ACT.Core.Models.Custom;

@{
    Int32 count = Model.Start;
    List<ClientLoadCustomModel> items = ( List<ClientLoadCustomModel> ) Model.Items;
}

<table id="invoice-client-table" class="da-table small fixed-headerx" data-fixed-header-target="#invoice-client-loads" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th data-name="Count">
                #
            </th>
            <th data-name="LoadDate">
                Load Date
            </th>
            <th data-name="Equipment">
                Product
            </th>
            <th data-name="LoadNumber">
                Load #
            </th>
            <th data-name="OriginalQuantity">
                Qty
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items.NullableAny() )
        {
            foreach ( var item in items )
            {
                <tr id="tr-@item.Id-item" class="client-@item.Id-item invoice-droppable" data-cid="@item.Id" data-qty="@item.OriginalQuantity" data-product="@item.Equipment" data-load-number="@item.LoadNumber" data-parent="#invoice-client-loads">
                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @(item.LoadDate?.ToString( "yyyy-MM-dd" ))
                    </td>
                    <td>
                        @item.Equipment
                    </td>
                    <td>
                        @item.LoadNumber
                    </td>
                    <td>
                        @item.OriginalQuantity
                    </td>
                    <td width="10%">

                        @Html.ActionLink( " ", "ClientLoadDocuments", new { id = item.Id }, new { @class = "docs", @rel = "tipsyE", @title = "View Documents", @data_details = "1", @data_id = item.Id, @data_target = ".client-" + item.Id + "-item", @style = "margin-right: 0;" } )

                    </td>
                </tr>

                count++;
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    There are no records to display
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.Partial( "_TinyPaging" )