@model PagingExtension

@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_PoolingAgentData";
}


@Html.Partial( "_Notification" )


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;
    List<ChepLoadCustomModel> items = ( List<ChepLoadCustomModel> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Pooling Agent Load Entries available matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink( "Add", "AddPoolingAgentData", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add Manual Pooling Agent Data?", @data_edit = "1", @data_id = 0, @data_target = "#poolingagentdata" } )

    <span style="padding: 0 5px;">|</span>

    @Html.ActionLink( "Import", "ImportPoolingAgentData", new { }, new { @class = "csv", @rel = "tipsyS", @title = "Import Pooling Agent Data?", @data_edit = "1", @data_id = 0, @data_target = "#poolingagentdata" } )

    <span class="loader"></span>
</p>

<table id="PADlist-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#PADlist-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Imported/Created
            </th>
            <th>
                Created
            </th>
            <th>
                Client
            </th>
            <th>
                Posting Type
            </th>
            <th>
                Docket #
            </th>
            <th>
                Ref #
            </th>
            <th>
                Equipment
            </th>
            <th>
                Invoice #
            </th>
            <th>
                Balance Status
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                Status status = ( Status ) item.Status;
                PostingType postingType = ( PostingType ) item.PostingType;

                string active = status == Status.Active ? "active" : "inactive";
                string enable = status == Status.Active ? "Disable" : "Enable";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">

                    <td width="1%">
                        @item.CreatedOn.ToString( "yyyy-MM-dd @ HH:mm tt" )
                    </td>
                    <td>
                        On @item.CreateDate by @item.CreatedBy
                    </td>
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                        @postingType.GetDisplayText()
                    </td>
                    <td>
                        @item.DocketNumber
                    </td>
                    <td>
                        @item.Ref
                    </td>
                    <td>
                        @item.Equipment
                    </td>
                    <td>
                        @item.InvoiceNumber
                    </td>
                    <td>
                        @item.BalanceStatus
                    </td>
                    <td width="10%">

                        <div style="border-bottom: 1px dashed #7368e3; padding-bottom: 4px; margin-bottom: 10px;">

                            @Html.ActionLink( "Details", "PoolingAgentDataDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                            @Html.ActionLink( "Edit", "EditPoolingAgentData", new { id = item.Id, returnView = "PoolingAgentData" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item", @style = "margin-right: 0;" } )

                        </div>

                        @if ( postingType == PostingType.Manual )
                        {
                            <div style="border-bottom: 1px dashed #7368e3; padding-bottom: 4px; margin-bottom: 10px;">

                                @Html.ActionLink( enable, "DeletePoolingAgentData", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#poolingagentdata", @rel = "tipsyE", @title = enable + " this item?", @style = "margin-left: 0;" } )

                            </div>
                        }

                    </td>

                </tr>

                count++;
            }
        }
    </tbody>

</table>

@Html.Partial( "_Paging" )

