@model PagingExtension

@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_PoolingAgentData";
}


@Html.Partial( "_Notification" )


@{
    UserModel user = User.Get();

    Int32 count = Model.Start;
    List<ChepLoadCustomModel> items = ( List<ChepLoadCustomModel> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Pooling Agent Load Entries available matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink( "Add", "AddPoolingAgentData", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add Manual Pooling Agent Data?", @data_edit = "1", @data_id = 0, @data_target = "#poolingagentdata" } )
    <span class="loader"></span>
</p>

<table id="PADlist-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#PADlist-table_wrapper" data-starting-point=".ap-tabs ul">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Pooling Agent
            </th>
            <th>
                Load Data
            </th>
            <th>
                Eff Date
            </th>
            <th>
                Del Note
            </th>
            <th>
                Cust #
            </th>
            <th>
                Product
            </th>
            <th>
                Shipment No
            </th>
            <th>
                Issue note
            </th>
            <th>
                PCN
            </th>
            <th>
                THAN
            </th>
            <th>
                Qty
            </th>
            <th data-name="Actions">
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                ReconciliationStatus status = ( ReconciliationStatus ) item.Status;

                string active = status.Equals( Status.Active ) ? "active" : "inactive";
                string enable = status.Equals( Status.Active ) ? "Disable" : "Enable";


                <tr id="tr-@item.Id-item" class="tr-@item.Id-item">

                    <td width="1%">
                        @status
                    </td>
                    <td >
                        Chep
                    </td>
                    <td >
                        @item.LoadDate
                    </td>
                    <td >
                        @item.EffectiveDate
                    </td>
                    <td >
                        @item.DeliveryNote
                    </td>
                    <td >
                        @item.AccountNumber
                    </td>
                    <td >
                        @item.Equipment
                    </td>
                    <td >
                        @item.DocketNumber
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>

                    <td>
                        @item.OriginalQuantity
                    </td>
                    <td width="15%">
                        @Html.ActionLink( "Edit", "EditPoolingAgentData", new { id = item.Id, returnView = "PoolingAgentData" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        @Html.ActionLink( enable, "DeletePoolingAgentData", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#poolingagentdata", @rel = "tipsyE", @title = enable + " this item?" } )
                    </td>

                </tr>

                count++;
            }
        }
    </tbody>

</table>

@Html.Partial( "_Paging" )

