@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using ACT.UI.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_PADList";
}


@Html.Partial("_Notification")


@{
    UserModel user = User.Get();



}


@*@if (Model == null || !items.Any())
    {
        <div class="notification message-warn" style="margin-bottom: 20px;">
            There are no PADs available matching your search criteria.
        </div>
    }*@
@if (ViewBag.ContextualMode)
{
    <input type="hidden" id="context" name="context" value="1" />
}
else
{
    <input type="hidden" id="context" name="context" value="0" />
}
    <p>
        <table style="width:100%" border="0">
            <tr>
                <td style="width:3%">
                    <label for="file">Client:</label>
                </td>
                <td style="width:15%">
                    @if (ViewBag.ContextualMode)
                    {
                        @Html.DropDownList("ClientList")
                    }
                    else
                    {
                        @*@Html.DropDownList("ClientList", "All Clients")*@
                        @Html.DropDownList("ClientList",
                             new SelectList(ViewBag.ClientList, "Value", "Text"),
                             "All Clients",
                             new { @class = "form-control", @onchange= "ClientListChanged()" })
                    }
                </td>
                <td colspan="6">
                   &nbsp;
                </td>
            </tr>
        </table>
        <span class="loader"></span>
    </p>
<input type="hidden" id="ClientId" name="ClientId" value="@ViewBag.ClientId" />
<div id="BottomLists" style="display:block;">
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
    <div class="left" style="width: 52%; margin-right: 1%;">
        <h3>Pooling Agent Loads</h3>
        <table id="pool-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-fixed-header-target="#groupsexcluded-table_wrapper" data-starting-point=".ap-tabs ul">
            <thead>
                <tr>
                    <th style="width:7%;">
                        Select
                    </th>
                    <th style="width:7%;">
                        Agent
                    </th>
                    <th style="width:7%;">
                        Load Date
                    </th>
                    <th style="width:7%;">
                        Eff Date
                    </th>
                    <th style="width:7%;">
                        Del Note
                    </th>
                    <th style="width:7%;">
                        Product
                    </th>
                    <th style="width:7%;">
                        Shipment #
                    </th>
                    <th style="width:7%;">
                        Issue Note
                    </th>
                    <th style="width:7%;">
                        Qty
                    </th>
                    <th data-name="Actions" style="width:5%;">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody id="pooltabledata"></tbody>

        </table>

    </div>
    <div class="left" style="width: 46%;">
        <h3>Client Loads</h3>
        <table id="client-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-fixed-header-target="#groupsincluded-table_wrapper" data-starting-point=".ap-tabs ul">
            <thead>
                <tr>
                    <th style="width:7%;">
                        Select
                    </th>
                    <th style="width:7%;">
                        Load Date
                    </th>
                    <th style="width:7%;">
                        Eff Date
                    </th>
                    <th style="width:7%;">
                        Del Note
                    </th>
                    <th style="width:7%;">
                        Product
                    </th>
                    <th style="width:7%;">
                        Shipment #
                    </th>
                    <th style="width:7%;">
                        Issue Note
                    </th>
                    <th style="width:7%;">
                        Qty
                    </th>
                    <th data-name="Actions" style="width:5%;">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody id="clienttabledata"></tbody>

        </table>

    </div>
</div>
<div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>
<div class="left" style="width: 99%; text-align:center">
    <button id="Reconcile">Link For Reconciliation</button>
    <br /><br /><br />
    <button id="ItemTask">Task for Selected Item</button>
</div>
<div id="doc" class="modal">
    <p>
        <strong class="">Documents</strong>
    </p>
    <a id="adddocrow" href="#" onclick="AddDocRow();"><i class="fa fa-plus"></i> Add</a>
    <input type="hidden" id="docitem" name="docitem" value="0" />
    <table id="doctable-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-starting-point=".ap-tabs ul">
        <thead>
            <tr>
                <th>
                    Document Title
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <div id="documentsdiv">
    </div>
    <span id="uploaded_file"></span>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>
</div>
<div id="comment" class="modal">
    <p>
        <strong class="">Comments</strong>
    </p>
    <a id="adddocrow" href="#" onclick="AddDocRow();"><i class="fa fa-plus"></i> Add</a>
    <input type="hidden" id="docitem" name="docitem" value="0" />
    <table id="doctable-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-starting-point=".ap-tabs ul">
        <thead>
            <tr>
                <th>
                    Document Title
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <div id="documentsdiv">
    </div>
    <span id="uploaded_file"></span>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>
</div>
<div id="task" class="modal">
    <p>
        <strong class="">Tasks</strong>
    </p>
    <a id="adddocrow" href="#" onclick="AddDocRow();"><i class="fa fa-plus"></i> Add</a>
    <input type="hidden" id="docitem" name="docitem" value="0" />
    <table id="doctable-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-starting-point=".ap-tabs ul">
        <thead>
            <tr>
                <th>
                    Document Title
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <div id="documentsdiv">
    </div>
    <span id="uploaded_file"></span>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>
</div>
<div id="journal" class="modal">
    <p>
        <strong class="">Journals</strong>
    </p>
    <a id="adddocrow" href="#" onclick="AddDocRow();"><i class="fa fa-plus"></i> Add</a>
    <input type="hidden" id="docitem" name="docitem" value="0" />
    <table id="doctable-table" class="da-table datatable-numberpaging sort fixed-header table-hover" data-starting-point=".ap-tabs ul">
        <thead>
            <tr>
                <th>
                    Document Title
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <div id="documentsdiv">
    </div>
    <span id="uploaded_file"></span>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 20px;">&nbsp;</div>
</div>
<script>
    $(document).ready(function () {
        UpdateLists();
        $('#Reconcile').on('click', function () {
            //debugger;
            var selectedAgentLoads = [];
            var selectedClientLoads = [];
            //var gId = $('#selectedgroup').val();
            $(".agentloadlist").each(function () {
                if ($(this).is(':checked')) {
                    selectedAgentLoads.push($(this).val());
                }
            });
            $(".clientloadlist").each(function () {
                if ($(this).is(':checked')) {
                    selectedClientLoads.push($(this).val());
                }
            });
            //$(".agentloadlist :checked").each(function () {
            //    selectedAgentLoads.push($(this).val());
            //});
            //$(".clientloadlist :checked").each(function () {
            //    selectedClientLoads.push($(this).val());
            //});
            if (selectedAgentLoads.length > 0) {
                if (selectedClientLoads.length > 0) {
                    //here we have 2 arrays of items to reconcile, we will reconcile the right with the left
                    for (c = 0; c < selectedClientLoads.length; c++) {
                        for (a = 0; a < selectedAgentLoads.length; a++) {
                            SetReconciliation(selectedAgentLoads[a], selectedClientLoads[c]);
                        }
                    }

                    alert('Load Reconciliation Complete.');
                    //UpdateLists();
                    location.reload();
                } else {
                    alert("Please select from the right grid to reconcile.")
                }
            } else {
                alert ("Please select from the left grid to reconcile.")
            }
            //$(".agentloadlist").each(function () {

            //    if ($(this).is(':checked')) {
            //        var id = $(this).attr("id");
            //        SetReconciliation(gId, id);
            //    }
            //    else {
            //        //Checkbox isn't checked
            //        //alert('Please select option from the left and right grids to reconcile against');
            //    }
            //});


        });

        //Docs Change
        $(document).on('change', '#companyfile', function () {
            var cId = $('#docitem').val();
            var name = document.getElementById("companyfile").files[0].name;
            var form_data = new FormData();
            var ext = name.split('.').pop().toLowerCase();
            if (jQuery.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'xls', 'pdf', 'xlsx', 'doc', 'docx', 'csv']) == -1) {
                alert("Invalid File");
            }
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("companyfile").files[0]);
            var f = document.getElementById("companyfile").files[0];
            var fsize = f.size || f.fileSize;
            if (fsize > 2000000) {
                alert("File Size is too large");
            }
            else {
                form_data.append("file", document.getElementById('companyfile').files[0]);
                form_data.append("clientId", $("#Id").val());
                $.ajax({
                    url: "Upload?id=" + cId + "&utype=ChepLoad&uname=Agent",
                    method: "POST",
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    beforeSend: function () {
                        $('#uploaded_file').html("<label class='text-success'>File Uploading...</label>");
                    },
                    success: function (data) {
                        //$('#uploaded_file').html(data);
                        populateDocs(cId, "ChepLoad");
                        $('#uploaded_file').html("<label class='text-success'></label>");
                    }
                });
            }
        });
        //Docs Change End

    });

    function ClientListChanged() {
        var cId = $('#ClientList').val();
        SetClient(cId);
    }

    function SetClient(cId) {
                $("#ClientId").val(cId);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetClient", "Pallet")',
                    data: { "ClientId": cId },
                    success: function (response) {
                        location.reload();

                    }
                });
            }

    function UpdateLists() {
        $('#BottomLists').show();
        GetUnreconciledAgentLoads();
        GetUnreconciledClientLoads();
    }

    function GetUnreconciledClientLoads() {
        var cId = $('#ClientId').val()
        var rowDiv = $("#client-table tbody");
        $.ajax({
            type: "GET",
            url: "GetUnreconciledClientLoads",
            data: { clientId: cId },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                rowDiv.html('');
                var result = "";
                $.each(data, function (id, load) {
                    var lDate = moment.utc(load.LoadDate);
                    var eDate = moment.utc(load.EffectiveDate);
                    result += '<tr id="tr-' + load.Id + '" class="tr-' + load.Id + '-item">' +
                        '<td style = "width: 5%;"><input type="checkbox" id="' + load.Id + '" name=client_item-' + load.Id + '" class="clientloadlist" value="' + load.Id + '" />' +
                        '</td > <td style="width: 15%;"> ' +
                        lDate.format('DD/MM/YYYY') +
                        '</td><td  style = "width: 15%;"> ' +
                        eDate.format('DD/MM/YYYY') +
                        '</td><td  style = "width: 15%;"> ' +
                        load.DeliveryNote +
                        '</td><td  style = "width: 15%;"> ' +
                        load.Equipment +
                        '</td><td  style = "width: 15%;"> ' +
                        load.DocketNumber +
                        '</td><td  style = "width: 15%;"> </td><td  style = "width: 15%;"> ' +
                        load.OriginalQuantity +
                        '</td><td>' +
                        '<a href="#doc" rel="modal:open" alt="Documents" tooltip="Documents" onclick="loadDocs(' + load.Id + ', 0)"><i class="fa fa-file-text-o"></i></a> ' + 
                        '<a href="#comment" rel="modal:open" alt="Comments" tooltip="Comments" onclick="loadComments(' + load.Id + ', 0)"><i class="fa fa-comment"></i></a> ' + 
                        '<a href="#task" rel="modal:open" alt="Tasks" tooltip="Tasks" onclick="loadTasks(' + load.Id + ', 0)"><i class="fa fa-tasks"></i></a> ' + 
                        '<a href="#journal" rel="modal:open" alt="Journals" tooltip="Journals" onclick="loadJournals(' + load.Id + ', 0)"><i class="fa fa-book"></i></a> ' + 
                        '</td ></tr > ';
                });
                rowDiv.html(result);

            },
            error: function (response) {
                alert('Error retrieving Client Load Data');
            }
        });

    }

    function GetUnreconciledAgentLoads() {
        var cId = $('#ClientId').val()
        var rowDiv = $("#pool-table tbody");
        $.ajax({
            type: "GET",
            url: "GetUnreconciledAgentLoads",
            data: { clientId: cId },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                rowDiv.html('');
                var result = "";
                $.each(data, function (id, load) {
                    var lDate = moment.utc(load.LoadDate);
                    var eDate = moment.utc(load.EffectiveDate);
                    result += '<tr id="tr-' + load.Id + '" class="tr-' + load.Id + '-item">' +
                        '<td style = "width: 5%;"><input type="checkbox" id="' + load.Id + '" name="agent_item-' + load.Id + '" class="agentloadlist" value="' + load.Id + '" />' +
                        '</td > <td style="width: 35%;">Chep</td> <td style="width: 20%;"> ' +
                        lDate.format('DD/MM/YYYY') +
                        '</td><td  style = "width: 15%;"> ' +
                        eDate.format('DD/MM/YYYY') +
                        '</td><td  style = "width: 15%;"> ' +
                        load.DeliveryNote +
                        '</td><td  style = "width: 15%;"> ' +
                        load.Equipment +
                        '</td><td  style = "width: 15%;"> ' +
                        load.DocketNumber +
                        '</td><td  style = "width: 15%;"> </td><td  style = "width: 15%;"> ' +
                        load.OriginalQuantity +
                        '</td><td>' +
                        '<a href="#doc" rel="modal:open" alt="Documents" tooltip="Documents" onclick="loadDocs(' + load.Id + ', 0)"><i class="fa fa-file-text-o"></i></a>' +
                        '<a href="#comment" rel="modal:open"  alt="Comments" tooltip="Comments" onclick="loadComments(' + load.Id + ', 0)"><i class="fa fa-comment"></i></a> ' +
                        '<a href="#task" rel="modal:open" alt="Tasks" tooltip="Tasks" onclick="loadTasks(' + load.Id + ', 0)"><i class="fa fa-tasks"></i></a> ' +
                        '<a href="#journal" rel="modal:open" alt="Journals" tooltip="Journals" onclick="loadJournals(' + load.Id + ', 0)"><i class="fa fa-book"></i></a> ' + 
                        '</td ></tr > ';
                });
                rowDiv.html(result);

            },
            error: function (response) {
                alert('Error retrieving Pooling Agent Data');
            }
        });

    }

    function SetReconciliation(alId, clId) {
        //debugger;
        var data = {
            "agentLoadId": alId, "clientLoadId": clId
        };
        $.ajax({
            type: 'POST',
            url: "ReconcileLoadsByIds",
            data: data,
            success: function (response) {
                if (response == "True") {
                    var x = 1; //do nothing
                } else {
                    alert('Load Reconciliation Failed with error ' + response + '. Try again.');
                }
            }
        });
    }

    //Docs From here
    function populateDocs(id, doctype) {
    $("#docitem").val(id); //docslisttable
    $("#doctable-table tbody").html('');//clear the div
    $.ajax({

        url: '@Url.Action("ListFilesTable", "Pallet")',
        type: "GET",
        dataType: "html",
        data: { objId: id, objType:doctype },
        success: function (data) {
            $('#doctable-table tbody').html(data); //reload the div
        },
    });
    }
    function AddDocRow() {
    var rowDiv = $("#doctable-table tbody");
    var tabledata = '<tr><td colspan="4"><input id="companyfile" name="companyfile" type="file" value="" data-val-file="1" class="input" /></td></tr>';
    rowDiv.append(tabledata);

    }

    function loadDocs(itemId, typeid) {
        var stype = "ChepLoad";
        if (typeid == 1) {
            stype = "ClientLoad";
        }
        populateDocs(itemId, stype);
    }

    function removeFile(fileId, itemId, typeid) {
        var stype = "ChepLoad";
        if (typeid == 1) {
            stype = "ClientLoad";
        }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveFile", "Pallet")',
                data: { "FileId": fileId },
                success: function (response) {
                    populateDocs(itemId, stype);
                }
            });
    }
    //Docs From here End
</script>