@model ACT.Core.Models.Custom.DeliveryNoteCustomModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DeliveryNoteCustomModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClientId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerPostalCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerPostalCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerProvince)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerProvince)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeliveryAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeliveryPostalCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeliveryPostalCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeliveryProvince)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeliveryProvince)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InvoiceNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BillingAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BillingAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BililngPostalCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BililngPostalCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BillingProvince)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BillingProvince)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reference306)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reference306)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
