@model DeliveryNoteViewModel

@using ACT.UI.Models

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Edit";
}

@Html.Partial( "_Notification" )

@using ( Html.BeginForm( "EditDeliveryNote", "Pallet", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#deliverynotes", @class = "custom-validate", @style = "width: auto;" } ) )
{
    <div id="edit-item">

        <h2 class="uppercase" style="width: auto;">
            <img alt="" src="@Url.Content( "~/images/edit.png" )" />
            <span>Edit Delivery Note</span>
        </h2>

        @Html.ValidationSummary( true )

        @Html.HiddenFor( model => model.Id )

        <div id="item-details" class="item-details" style="width: auto;">

            <div class="left" style="width: 48%; margin-right: 3%;">

                <div class="edit-label">
                    @Html.LabelFor( model => model.OrderDate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.OrderDate, new { @placeholder = "Select Order Date", @class = "date-picker", @readonly = "readonly" } )
                    @Html.ValidationMessageFor( model => model.OrderDate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.OrderNumber )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.OrderNumber, new { @placeholder = "Enter Order Number" } )
                    @Html.ValidationMessageFor( model => model.OrderNumber )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.Reference306 )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.Reference306, new { @placeholder = "Enter Reference 306" } )
                    @Html.ValidationMessageFor( model => model.Reference306 )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.InvoiceNumber )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.InvoiceNumber, new { @placeholder = "< to be generated >", data_always_disabled = "1" } )
                    @Html.ValidationMessageFor( model => model.InvoiceNumber )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.ClientId, new { @style = "display: inline-block;" } )
                </div>
                <div class="edit-field">
                    @Html.DropDownListFor( model => model.ClientId, model => model.ClientOptions, c => c.Key, c => c.Value, true, new { @data_dn_client = "1", @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.ClientId )
                </div>

                <div id="site-options" class="@( Model.ClientId > 0 ? "block" : "none" )">

                    <div class="edit-label">
                        @Html.LabelFor( model => model.ClientSiteId )
                    </div>
                    <div class="edit-field">
                        @Html.DropDownListFor( model => model.ClientSiteId, model => model.SiteOptions, s => s.Key, s => s.Value, true, new { @class = "chzn", @style = "width: 98%;" } )
                        @Html.ValidationMessageFor( model => model.ClientSiteId )
                    </div>

                </div>

                <div id="vehicle-options" class="@( Model.VehicleId > 0 ? "block" : "none" )">

                    <div class="edit-label">
                        @Html.LabelFor( model => model.VehicleId )
                    </div>
                    <div class="edit-field">
                        @Html.DropDownListFor( model => model.VehicleId, model => model.VehicleOptions, v => v.Key, v => v.Value, true, new { @class = "chzn", @style = "width: 98%;" } )
                        @Html.ValidationMessageFor( model => model.VehicleId )
                    </div>

                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.Status )
                </div>
                <div class="edit-field">
                    @Html.EnumDropDownFor( model => model.Status, true, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.Status )
                </div>

            </div>

            <div class="left" style="width: 48%;">

                <div class="edit-label">
                    @Html.LabelFor( model => model.CustomerName )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.CustomerName, new { @placeholder = "Enter Customer Name" } )
                    @Html.ValidationMessageFor( model => model.CustomerName )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.EmailAddress )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.EmailAddress, new { @placeholder = "Enter Customer Email Address" } )
                    @Html.ValidationMessageFor( model => model.EmailAddress )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.ContactNumber )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.ContactNumber, new { @placeholder = "Enter Customer Contact Number" } )
                    @Html.ValidationMessageFor( model => model.ContactNumber )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.CustomerAddress1 )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.CustomerAddress1, new { @placeholder = "Enter Customer Address 1" } )
                    @Html.ValidationMessageFor( model => model.CustomerAddress1 )
                </div>

                <div class="edit-field">
                    @Html.TextBoxFor( model => model.CustomerAddress2, new { @placeholder = "Enter Customer Address 2" } )
                    @Html.ValidationMessageFor( model => model.CustomerAddress2 )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.CustomerAddressTown )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.CustomerAddressTown, new { @placeholder = "Enter Customer Town" } )
                    @Html.ValidationMessageFor( model => model.CustomerAddressTown )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.CustomerPostalCode )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.CustomerPostalCode, new { @placeholder = "Enter Customer Postal Code" } )
                    @Html.ValidationMessageFor( model => model.CustomerPostalCode )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.CustomerProvinceId )
                </div>
                <div class="edit-field">
                    @Html.DropDownListFor( model => model.CustomerProvinceId, model => Model.ProvinceOptions, p => p.Key, p => p.Value, false, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.CustomerProvinceId )
                </div>

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>

            <div id="delivery-address" class="left" style="width: 48%; margin-right: 3%;">

                <p>
                    <strong class="uppercase">Delivery Address</strong>
                </p>

                <div class="edit-label">
                    @Html.LabelFor( model => model.DeliveryAddress1 )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.DeliveryAddress1, new { @placeholder = "Enter Delivery Address 1", data_field = "Address1" } )
                    @Html.ValidationMessageFor( model => model.DeliveryAddress1 )
                </div>

                <div class="edit-field">
                    @Html.TextBoxFor( model => model.DeliveryAddress2, new { @placeholder = "Enter Delivery Address 2", data_field = "Address2" } )
                    @Html.ValidationMessageFor( model => model.DeliveryAddress2 )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.DeliveryAddressTown )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.DeliveryAddressTown, new { @placeholder = "Enter Delivery Town", data_field = "Town" } )
                    @Html.ValidationMessageFor( model => model.DeliveryAddressTown )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.DeliveryPostalCode )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.DeliveryPostalCode, new { @placeholder = "Enter Delivery Postal Code", data_field = "PostalCode" } )
                    @Html.ValidationMessageFor( model => model.DeliveryPostalCode )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.DeliveryProvinceId )
                </div>
                <div class="edit-field">
                    @Html.DropDownListFor( model => model.DeliveryProvinceId, model => Model.ProvinceOptions, p => p.Key, p => p.Value, false, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.DeliveryProvinceId )
                </div>

            </div>

            <div id="billing-address" class="left" style="width: 48%; margin-right: 1%;">

                <p>
                    <strong class="uppercase">Billing Address</strong>

                    <label style="display: inline-block; margin-left: 20px; margin-bottom: 0;">
                        <input type="checkbox" data-copy-address="1" data-from="#delivery-address" data-to="#billing-address" /> Same as Delivery Address
                    </label>
                </p>

                <div class="edit-label">
                    @Html.LabelFor( model => model.BillingAddress1 )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.BillingAddress1, new { @placeholder = "Enter Billing Address 1", data_field = "Address1" } )
                    @Html.ValidationMessageFor( model => model.BillingAddress1 )
                </div>

                <div class="edit-field">
                    @Html.TextBoxFor( model => model.BillingAddress2, new { @placeholder = "Enter Billing Address 2", data_field = "Address2" } )
                    @Html.ValidationMessageFor( model => model.BillingAddress2 )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.BillingAddressTown )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.BillingAddressTown, new { @placeholder = "Enter Billing Town", data_field = "Town" } )
                    @Html.ValidationMessageFor( model => model.BillingAddressTown )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.BillingPostalCode )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.BillingPostalCode, new { @placeholder = "Enter Billing Postal Code", data_field = "PostalCode" } )
                    @Html.ValidationMessageFor( model => model.BillingPostalCode )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.BillingProvinceId )
                </div>
                <div class="edit-field">
                    @Html.DropDownListFor( model => model.BillingProvinceId, model => Model.ProvinceOptions, p => p.Key, p => p.Value, false, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.BillingProvinceId )
                </div>

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 0;">&nbsp;</div>

            <div id="delivery-note-lines" class="grouped-area">

                @Html.Partial( "_DeliveryNoteLines", Model )

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px;">&nbsp;</div>

            <p>
                <input id="save-btn" type="submit" value="Save" />
                <span style="padding: 0 5px;">/</span> <a data-cancel="1" data-target="#edit-item" data-remove="tr.edit">Cancel</a>
            </p>

        </div>

    </div>
}