@model InvoiceViewModel

@using ACT.UI.Models;

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Import Invoices";
}

@Html.Partial( "_Notification" )

@using ( Html.BeginForm( "ImportInvoices", "Pallet", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#reconcileinvoices", @class = "custom-validate", @style = "width: auto;" } ) )
{
    <div id="edit-item">

        <h2 class="uppercase" style="width: auto;">
            <img alt="" src="@Url.Content("~/images/edit.png")" />
            <span>Import Invoices</span>
        </h2>

        @Html.ValidationSummary( true )

        <div class="left" style="width: 30%;">

            <p>
                <b>Fields Sequence</b>: Invoice Number, Date, Quantity, Amount, Load Number
            </p>

            <div class="editor-label">
                @Html.LabelFor( model => model.File )
            </div>
            <div class="editor-field">
                @Html.FileUploadFor( model => model.File, new { @class = "input", @required = "required", @placeholder = "Select Import File" } )
                @Html.ValidationMessageFor( model => model.File )
            </div>

        </div>

        <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">&nbsp;</div>

        <p style="margin-bottom: 0;">
            <input id="save-btn" type="submit" value="Import" />

            <span style="padding: 0 5px;">/</span>

            <a data-refresh="1" data-target="#reconcileinvoices">Cancel</a>
        </p>

    </div>
}
