@model ChepLoad

@using ACT.Core.Enums
@using ACT.Data.Models;

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Details";

    List<ClientLoad> clientLoads = ViewBag.ClientLoads;

    ClientLoad cl = clientLoads?.FirstOrDefault();
}

@if ( ViewBag.IncludeLayout != null )
{
    <h2>
        <img alt="" src="@Url.Content( "~/images/info.png" )" />
        <span>Chep Load Details</span>
    </h2>
}

<div id="item-details" class="item-details" style="width: auto;">

    @if ( ViewBag.IncludeLayout == null )
    {
        <h2>
            <img alt="" src="@Url.Content( "~/images/info.png" )" />
            <span>Chep Load Details</span>
        </h2>
    }

    <div class="left" style="width: 31%; margin-right: 3%;">

        <div class="display-label">
            Load/Shipment Number
        </div>
        <div class="display-field">
            @( cl?.LoadNumber )
        </div>

        <div class="display-label">
            Load Date
        </div>
        <div class="display-field">
            @( cl?.LoadDate?.ToString( "dd/MM/yyyy" ) )
        </div>

        <div class="display-label">
            Client Site From
        </div>
        <div class="display-field">
            @( cl?.ClientSite?.Site?.Name )
        </div>

        <div class="display-label">
            Region From
        </div>
        <div class="display-field">
            @( cl?.ClientSite?.Site?.Region?.Name )
        </div>

        <div class="display-label">
            Client Site To
        </div>
        <div class="display-field">
            @( cl?.ClientSite1?.Site?.Name )
        </div>

        <div class="display-label">
            Region To
        </div>
        <div class="display-field">
            @( cl?.ClientSite1?.Site?.Region?.Name )
        </div>

        <div class="display-label">
            Customer Group
        </div>
        <div class="display-field">
            @( cl?.Client?.ClientGroups?.FirstOrDefault()?.Group?.Description )
        </div>

        <div class="display-label">
            Delivery Note
        </div>
        <div class="display-field">
            @( cl?.DeliveryNote )
        </div>

        <div class="display-label">
            Invoice Number
        </div>
        <div class="display-field">
            @( cl?.ChepInvoiceNo )
        </div>

        <div class="display-label">
            Sales Order Number
        </div>
        <div class="display-field">
            @( cl?.ReferenceNumber )
        </div>

        <div class="display-label">
            Primary/Second
        </div>
        <div class="display-field">
            &nbsp;
        </div>

        <div class="display-label">
            Depot STO Number
        </div>
        <div class="display-field">
            &nbsp;
        </div>

    </div>

    <div class="left" style="width: 31%; margin-right: 3%;">

        <div class="display-label">
            CHEP ACC NO/GLID
        </div>
        <div class="display-field">
            @( Model.DocketNumber )
        </div>

        <div class="display-label">
            Delivery Date
        </div>
        <div class="display-field">
            @( Model.DeliveryDate )
        </div>

        <div class="display-label">
            Transporter Name
        </div>
        <div class="display-field">
            @( cl?.Transporter?.Name )
        </div>

        <div class="display-label">
            Fleet Number
        </div>
        <div class="display-field">
            &nbsp;
        </div>

        <div class="display-label">
            Vehicle Registration
        </div>
        <div class="display-field">
            @( cl?.Vehicle?.Registration )
        </div>

        <div class="display-label">
            Debtors Code
        </div>
        <div class="display-field">
            &nbsp;
        </div>

        <div class="display-label">
            Customer Account Number
        </div>
        <div class="display-field">
            @( cl?.ClientSite1?.Site?.AccountCode )
        </div>

        <div class="display-label">
            Customer Order Number
        </div>
        <div class="display-field">
            @( cl?.ReferenceNumber )
        </div>

        <div class="display-label">
            Other Reference
        </div>
        <div class="display-field">
            @( cl?.ReceiverNumber )
        </div>

        <div class="display-label">
            Load Sheet Number
        </div>
        <div class="display-field">
            &nbsp;
        </div>

        <div class="display-label">
            GRV Number
        </div>
        <div class="display-field">
            &nbsp;
        </div>

    </div>

    <div class="left" style="width: 31%;">

        <div class="display-label">
            ACT Control DOC No
        </div>
        <div class="display-field">
            &nbsp;
        </div>

        <div class="display-label">
            CHEP Exchange DOC No
        </div>
        <div class="display-field">
            @( Model.ExchangeInd == 1 ? Model.DocketNumber : string.Empty )
        </div>

        <div class="display-label">
            CHEP Customer THAN DOC No
        </div>
        <div class="display-field">
            @( Model.TransactionType?.ToUpper()?.Trim() == "TRANSFER OUT" ? Model.DocketNumber : string.Empty )
        </div>

        <div class="display-label">
            Warehouse Transfer DOC No
        </div>
        <div class="display-field">
            @( Model.TransactionType?.ToUpper()?.Trim() == "TRANSFER IN" ? Model.DocketNumber : string.Empty )
        </div>

        <div class="display-label">
            Debrief Document No
        </div>
        <div class="display-field">
            &nbsp;
        </div>

        <div class="display-label">
            Pallet Return Slip No
        </div>
        <div class="display-field">
            @( Model.DocketNumber )
        </div>

        <div class="display-label">
            Pallet Return Date
        </div>
        <div class="display-field">
            @( Model.EffectiveDate?.ToString( "dd/MM/yyyy" ) )
        </div>

        <div class="display-label">
            Authorization Code
        </div>
        <div class="display-field">
            @( Model.ClientAuthorisations?.FirstOrDefault()?.Code )
        </div>

        <div class="display-label">
            Authorized By
        </div>
        <div class="display-field">
            @( Model.ClientAuthorisations?.FirstOrDefault()?.ModifiedBy )
        </div>

        <div class="display-label">
            CHEP Comp No
        </div>
        <div class="display-field">
            @( cl?.ChepCompensationNo  )
        </div>

        <div class="display-label">
            GRV Date
        </div>
        <div class="display-field">
            &nbsp;
        </div>

    </div>

    @if ( ViewBag.CanEdit == true )
    {

    }

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin: 20px 0; height: 0;">&nbsp;</div>

    @if ( ViewBag.IncludeLayout == null )
    {
        <p>
            @if ( ViewBag.CanEdit == true )
            {
                <span>
                    @Html.ActionLink( "Edit", "EditPoolingAgentData", new { id = Model.Id }, new { @class = "edit", @data_edit = "1", @data_id = Model.Id, @data_target = "#tr-" + Model.Id + "-item" } )
                </span>
                <span style="padding: 0 5px;">/</span>
            }

            @if ( ViewBag.IncludeLayout == null )
            {
                <a data-cancel="1" data-target="#item-details" data-remove="tr.edit">Cancel</a>
            }
        </p>
    }

    @if ( ViewBag.IncludeLayout != null )
    {
        <div class="back-to-list">
            @Html.ActionLink( "Back to List", "Index" )
        </div>
    }

</div>
