@model PagingExtension

@using ACT.Data.Models;
@using ACT.Core.Enums;
@using ACT.Core.Models;
@using ACT.Core.Models.Custom;
@using ACT.Core.Services;
@using ACT.UI.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;

    ViewBag.ViewName = "_PADList";
}


@Html.Partial("_Notification")


@{
    UserModel user = User.Get();

    int count = Model.Start;
    //List<PADViewModel> items = (List<PADViewModel>)Model.Items;

    //PADService cservice = new PADService();


}


@*@if (Model == null || !items.Any())
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no PADs available matching your search criteria.
    </div>
}*@

@if (user.IsAdmin || user.IsPSPAdmin)
{
    <p>
        @Html.ActionLink("Add", "AddPAD", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new PAD?", @data_edit = "1", @data_id = 0, @data_target = "#PADlist" })
        <span class="loader"></span>
    </p>
}


    <table id="PADlist-table" class="da-table datatable-numberpaging sort fixed-header" data-fixed-header-target="#PADlist-table_wrapper" data-starting-point=".ap-tabs ul">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Pooling Agent
                </th>
                <th>
                    Load Data
                </th>
                <th>
                    Eff Date
                </th>
                <th>
                    Del Note
                </th>
                <th>
                    Cust #
                </th>
                <th>
                    Product
                </th>
                <th>
                   Shipment No
                </th>
                <th>
                    Issue note
                </th>
                <th>
                    PCN
                </th>
                <th>
                    THAN
                </th>
                <th>
                    Qty
                </th>
                @*<th>
                    Del Note
                </th>*@
                <th data-name="Actions">
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @*@if (Model != null && items != null && items.Count() > 0)
            {
                foreach (var item in items)
                {
                    Status status = (Status)item.Status;

                    string active = status.Equals(Status.Active) ? "active" : "inactive";
                    string enable = status.Equals(Status.Active) ? "Disable" : "Enable";*@
 

            @*<tr id="tr-@item.Id-item" class="tr-@item.Id-item">

                <td width="1%">
                    @item.Id
                </td>
                <td style="width: 15%;">
                    @item.CompanyName
                </td>

          

                <td width="15%">*@
                    @*@Html.ActionLink("Details", "PADDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

                    @Html.ActionLink("Edit", "EditPAD", new { id = item.Id, returnView = "PADList" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" })

                    @Html.ActionLink(enable, "DeletePAD", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#PADlist", @rel = "tipsyE", @title = enable + " this item?" })*@
                    @*<div style="border-bottom: 1px dashed #7368e3; padding-bottom: 4px; margin-bottom: 10px;">

                        @if (item.CompanyFile != null && item.CompanyFile.Any(s => s.Status == (Int32)Status.Active))
                        {
                            <a class="docs" data-sticky-one="1" data-target="#supporting-@item.Id-docs" data-trigger="mouseover" data-arrow="center-right" data-title="Supporting Documents">
                                Docs
                            </a>
                            <div id="supporting-@item.Id-docs" class="none">
                                <ul class="list">
                                    @foreach (var d in item.CompanyFile.Where(s => s.Status == (Int32)Status.Active))
                                    {
                                        <li style="line-height: 20px;">
                                            <a rel="tipsyW" title="View File?" href="@Url.Action( "ViewDocument", "PAD", new { @id = d.Id } )" target="_blank">
                                                @d.Name (@d.Type)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        </div>*@
                @*</td>


            </tr>*@

                    @*count++;
                }
            }*@
        </tbody>

    </table>
@Html.Partial("_Paging")