@model PSP

@using ACT.Core.Enums;
@using ACT.Data.Models;

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Details";

    Address address = ViewBag.Address;
    List<Document> documents = ViewBag.Documents;
}

@if ( ViewBag.IncludeLayout != null )
{
    <h2>
        <img alt="" src="@Url.Content( "~/images/info.png" )" />
        <span>PSP Details</span>
    </h2>
}

<div id="item-details" class="item-details" style="width: auto;">

    @if ( ViewBag.IncludeLayout == null )
    {
        <h2>
            <img alt="" src="@Url.Content( "~/images/info.png" )" />
            <span>PSP Details</span>
        </h2>
    }

    <div class="left" style="width: 48%; margin-right: 4%;">

        <div class="display-label">
            Company Name
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.CompanyName )
        </div>

        <div class="display-label">
            Trading As
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.TradingAs )
        </div>

        <div class="display-label">
            VAT Number
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.VATNumber )
        </div>

        <div class="display-label">
            Company Registration Number
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.CompanyRegistrationNumber )
        </div>

        <div class="display-label">
            Company Registration File
        </div>
        <div class="display-field">
            @if ( documents != null && documents.Any() )
            {
                foreach ( Document d in documents )
                {
                    <a class="block" target="_blank" href="@Url.Action( "ViewDocument", "Administration", new { @id = d.Id } )">
                        <img alt="download" src="@Url.Content( "~/Images/download.png" )" style="margin-bottom: 2px;" />

                        @d.Name (@d.Type)
                    </a>
                }
            }
        </div>

        <div class="display-label">
            Description
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.Description )
        </div>

    </div>

    <div class="left" style="width: 48%;">

        <div class="display-label">
            Contact Person
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.ContactPerson )
        </div>

        <div class="display-label">
            Contact Number
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.ContactNumber )
        </div>

        <div class="display-label">
            Email Address
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.Email )
        </div>

        <div class="display-label">
            Admin Email Address
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.AdminEmail )
        </div>

        <div class="display-label">
            Service Required
        </div>
        <div class="display-field">
            @(( ( ServiceType ) Model.ServiceRequired ).GetDisplayText())
        </div>

    </div>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">&nbsp;</div>

    <div class="display-label">
        Estimated Load Per Month
    </div>
    <div class="display-field">

        <table id="PSPBudget-table" class="da-table" style="border-bottom: 0;">

            <thead>
                <tr>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May</th>
                    <th>Jun</th>
                    <th>Jul</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().January
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().February
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().March
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().April
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().May
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().June
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().July
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().August
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().September
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().October
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().November
                    </td>
                    <td>
                        @Model.PSPBudgets.FirstOrDefault().December
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">&nbsp;</div>

    @if ( address != null )
    {
        <div class="left" style="width: 48%; margin-right: 4%;">

            <div class="display-label">
                Address Line 1
            </div>
            <div class="display-field">
                @address.Addressline1
            </div>

            <div class="display-label">
                Town
            </div>
            <div class="display-field">
                @address.Town
            </div>

            <div class="display-label">
                Postal Code
            </div>
            <div class="display-field">
                @address.PostalCode
            </div>

        </div>

        <div class="left" style="width: 48%;">

            <div class="display-label">
                Address Line 2
            </div>
            <div class="display-field">
                @address.Addressline2
            </div>

            <div class="display-label">
                Province
            </div>
            <div class="display-field">
                @(( ( Province ) address.Province ).GetDisplayText())
            </div>

        </div>
    }
    else
    {
        <div class="message-warn">
            No address details found. Please edit and add address details.
        </div>
    }

    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">&nbsp;</div>

    @if ( ViewBag.IncludeLayout == null )
    {
        <p>
            @Html.ActionLink( "Edit", "EditPSP", new { id = Model.Id }, new { @class = "edit", @data_edit = "1", @data_id = Model.Id, @data_target = "#tr-" + Model.Id + "-item" } )

            @if ( ViewBag.IncludeLayout == null )
            {
                <span style="padding: 0 5px;">/</span>
                <a data-cancel="1" data-target="#item-details" data-remove="tr.edit">Cancel</a>
            }
        </p>
    }

    @if ( ViewBag.IncludeLayout != null )
    {
        <div class="back-to-list">
            @Html.ActionLink( "Back to List", "Index" )
        </div>
    }

</div>
